<div class="white-space-no-wrap" ng-cloak>
  <!--button type="button"
          id="makuleraBtn"
          class="btn btn-secondary"
          ng-if="showMakuleraButton()"
          ng-click="makulera(viewState.intygModel)"
          ib-check-vardenhet
          vardenhet="{{viewState.enhetsId}}"
          uib-popover="{{makuleraBtnTooltipText}}"
          popover-trigger="mouseenter"
          popover-popup-delay="300"
          popover-append-to-body="true"
          popover-placement="auto top"
          popover-class="z-low">
    <i class="material-icons">delete</i> Makulera
  </button-->
</div>
