<div class="white-space-no-wrap" ng-cloak ng-if="utredning.fas.id === 'FORFRAGAN'">
  <button type="button"
          id="accepteraBtn"
          class="btn btn-secondary"
          ng-disabled="accepteraBtnDisabled()"
          ng-click="acceptera()">
    <i class="material-icons">check</i> Acceptera förfrågan
  </button>
  <button type="button"
          id="avvisaBtn"
          class="btn btn-secondary"
          ng-disabled="avvisaBtnDisabled()"
          ng-click="avvvisa()">
    <i class="material-icons">block</i> Avvisa förfrågan
  </button>
</div>
