<div class="white-space-no-wrap" ng-cloak ng-if="utredning.fas.id === 'FORFRAGAN'">
  <ib-button btn-id="accepteraBtn"
             btn-class="btn btn-secondary"
             busy="vm.acceptInProgress"
             btn-disabled="accepteraBtnDisabled()"
             btn-click="acceptera()"
             ib-authority="ACCEPTERA_EXTERNFORFRAGAN">
    <i class="material-icons">check</i> Acceptera förfrågan
  </ib-button>
  <button type="button"
          id="avvisaBtn"
          class="btn btn-secondary"
          ng-disabled="avvisaBtnDisabled()"
          ng-click="avvisa()"
          ib-authority="AVVISA_EXTERNFORFRAGAN">
    <i class="material-icons">block</i> Avvisa förfrågan
  </button>
</div>
