.ib-acceptera-internforfragan-dialog-window-class {
  max-height: 98vh;

  .ib-acceptera-internforfragan-dialog-template {
    div.modal-body {
      overflow-y: hidden;
      padding-bottom: 40px;
      max-height: 95vh;
      .scrollable-body {
        max-height: 65vh;
      }
      
      h3 {
        @extend %ib-typo-02;
        color: $ib-color-07;
      }
    }
    .modal-footer {
      ib-button {
        display: inline-block;
        margin-right: 10px;
      }
    }



    .flex-grid {
      display: flex;

      .col {
        flex: 1;
        padding: 10px 20px;
        &.col-2 {
          flex: 2;
        }
      }
    }

  }
}