  <div class="row table-actionbar">
    <div class="col-md-3">
      <ib-dropdown id="filterHandelse" ng-model="filter.handelse" items="filter.handelseOptions"></ib-dropdown>
    </div>
  </div>

  <ib-support-panel-scrollable-body dom-id="utredning-handelser-panel-scrollable-body">

    <table id="samordnare-utredning-handelser-table" class="table table-striped ib-table-striped">
      <thead>
      <tr>
        <th ib-table-head filter="filter" order-by-key="handelseDatum"
            label-key="label.table.utredning.handelser.column.handelseDatum" class="th--minimize"></th>
        <th ib-table-head filter="filter" order-by-key="typ"
            label-key="label.table.utredning.handelser.column.typ" class="th--minimize"></th>
        <th ib-table-head filter="filter" order-by-key="anvandare"
            label-key="label.table.utredning.handelser.column.anvandare" class="th--minimize"></th>
        <th ib-table-head filter="filter" order-by-key="skapad"
            label-key="label.table.utredning.handelser.column.handelse"></th>
        <th ng-if="columnSet === 'VARDADMIN'" ib-table-head filter="filter" order-by-key="kommentar"
            label-key="label.table.utredning.handelser.column.kommentar"></th>
      </tr>
      </thead>
      <tbody ng-if="handelser.length < 1">
      <tr>
        <td colspan="{{columnSet === 'VARDADMIN' ? 5 : 4}}">
          <message class="td-padding" key="common.no.results"></message>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr ng-repeat="row in utredning.handelseList | filter: filter.handelse | orderBy: filter.orderBy:filter.orderByAsc as handelser">
        <td>{{::row.skapad}}</td>
        <td>{{::row.typ.label}}</td>
        <td class="unbreakable">{{::row.anvandare}}</td>
        <td>{{::row.handelseText}}</td>
        <td ng-if="columnSet === 'VARDADMIN'">{{::row.kommentar}}</td>
      </tr>
      </tbody>
    </table>

  </ib-support-panel-scrollable-body>
