.hanteraEnheter-page {
  height: 100%;
  padding-bottom: 20px;
  @extend %page;

  table {
    margin-top: 10px;
    td.action-buttons {
      width: 100px;
    }
  }
  i.material-icons {
    font-size: inherit;
  }
  .no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 136px;
      height: 131px;
      padding: 10px;
    }
  }
}

