[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  -ms-overflow-style: scrollbar;
}

// App-wide Styles
.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// Hide IE10+ clear icon, as it doesn't work well with angular
input[type=search]::-ms-clear {
  display: none;
}

.content-wrapper > div > .container
{
  width: auto;
  max-width: $ib-max-content-width;
}

.ib-body {
  @extend %ib-typo-07;
  color: $ib-color-07;
}