[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  cursor: pointer;
}

a[data-ng-disabled] {
  cursor: default;
}

body {
  -ms-overflow-style: scrollbar;
}

// App-wide Styles
.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// "\n" makes new line in
.nl2br{
  white-space: pre-line;
}

// Hide IE10+ clear icon, as it doesn't work well with angular
input::-ms-clear {
  display: none;
}

%page {
  width: 100%;
  overflow-y: auto;
  max-width: $ib-max-content-width;
  margin: 0 auto 20px auto;
  padding: 0 30px;
}

.ib-body {
  @extend %ib-typo-07;
  color: $ib-color-07;
  display: flex;
  flex-direction: column;
  min-height: 1%;
  height: 100%;
}

//absolutely positioned element with a gradient background.
//The pointer-events:none is important, otherwise elements such as button below this can't be clicked.
%bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  height: $ib-text-fadeout-height;
  pointer-events: none;

  div {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &.ib-color-02 div {
    background-image: linear-gradient(to top, rgba($ib-color-02, 1) 0%, rgba($ib-color-02, 0) 100%);
  }
  &.ib-color-28 div {
    background-image: linear-gradient(to top, rgba($ib-color-28, 1) 0%, rgba($ib-color-28, 0) 100%);
  }
  &.ib-color-27 div {
    background-image: linear-gradient(to top, rgba($ib-color-27, 1) 0%, rgba($ib-color-27, 0) 100%);
  }
}
