
.table-actionbar {
  padding-bottom: 10px;

  > .btn {
    margin-right: 10px;
  }
}

.ib-table-striped {
  border-collapse: separate;
  border-spacing: 0 0;

  .btn-primary {
    padding: 7px 15px;
    min-width: 50px;
  }

  .btn-secondary {
    padding: 7px 15px;
    min-width: 50px;
  }

  // Table header ---------------
  > thead > tr > th {
    padding: 7px;
    background-color: $ib-color-15;
    @extend %ib-typo-06;
    color: $ib-color-19;
    border: none;

    &:first-child {
      padding-left: 21px;
      border-radius: $table-striped-border-radius 0 0 0;
    }
    &:last-child {
      border-radius: 0 $table-striped-border-radius 0 0;
    }
  }
  // Table body ---------------
  > tbody > tr {

    &:hover {
      > td {
        border-top: 1px solid $ib-color-21;
        border-bottom: 1px solid $ib-color-21;
      }

      > td:first-child {
        border-left: 1px solid $ib-color-21;
        padding-left: 21px;
      }

      > td:last-child {
        border-right: 1px solid $ib-color-21;
      }
    }

    //a normal td
    > td {
      padding: 5px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid $ib-color-15;

      &:first-child {
        padding-left: 21px;
        border-left: 1px solid $ib-color-15;
      }

      &:last-child {
        border-right: 1px solid $ib-color-15;
        border-radius: 0;
      }

      &.nopadding {
        padding: 0;
      }
    }

    &:last-child > td {
      &:first-child {
        border-radius: 0 0 0 $table-striped-border-radius;
      }
      &:last-child {
        border-radius: 0 0 $table-striped-border-radius 0;
      }

    }
  }
}
