input.ng-invalid {
  border-color:  $ib-color-11 !important;
}

.asterisk {
  display: inline-block;
  align-self: center;
  color: $ib-color-11;
  position: absolute;
  left: -11px;
  font-size: 16px;
  line-height: 1;
  top: 3px;
}
