<div class="row">
  <div class="col-xs-{{::colSize}}">
    <form ng-attr-name="{{::inputId}}">
      <label ng-attr-for="{{::inputId}}" class="control-label" ng-if="labelKey">
        <ib-help-text-label required="required"
                            required-expr="!model"
                            label-key="{{::labelKey}}"
                            help-key="{{::helpKey}}"></ib-help-text-label>
      </label>
      <textarea ng-attr-id="{{::inputId}}"
                ng-attr-name="{{::inputId}}"
                ng-attr-rows="{{rows || 4 }}"
                type="text"
                class="form-control"
                ng-model="model"
                ng-disabled="isDisabled"
                ng-required="required && !model && form[inputId].$dirty"
                ng-attr-placeholder="{{::placeholderText}}"
                maxlength="{{:: maxLength || 255}}"></textarea>
      <ib-field-error-list errors="componentErrors()" required-error="{{requiredError}}"></ib-field-error-list>
    </form>
  </div>
</div>
