<div class="btn-group" dropdown-append-to-body uib-dropdown is-open="status.isopen">
  <button ng-attr-id="{{::menuId}}" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
    Hantera <i class="material-icons md-18">{{status.isopen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{::menuId}}">
    <li role="menuitem"><a href ng-attr-id="{{::menuId}}-edit" ng-click="onEdit({'row': row})">Ändra regi</a></li>
    <li role="menuitem"><a href ng-attr-id="{{::menuId}}-delete" ng-click="onDelete({'row': row})">Ta bort</a></li>
  </ul>
</div>