<div class="ib-page-header">
  <ib-spinner label="common.label.loading" show-spinner="!vm.widgetState.isReady">
    <div class="centered-constrained-content">


      <!-- header content -->
      <div ng-if="!vm.model.errorKey" id="utredning-header-status">

        <!-- Status -->
        <div class="page-header-divider">
          <div class="inline-block">
            <a ng-click="back()"
               uib-popover="Tillbaka."
               popover-trigger="mouseenter"
               popover-popup-delay="300"
               popover-append-to-body="true"
               popover-placement="auto top"
               popover-class="z-low">
              <i class="material-icons">arrow_back</i>
            </a><a
                id="tillbakaButton"
                ng-click="back()">Tillbaka
            </a>
            <ib-intern-forfragan-header-status intern-forfragan="internForfragan"></ib-intern-forfragan-header-status>
          </div>


        </div>

        <div class="flex-row padding-top-small">
          <div class="flex-col-max">
            <!-- Header text -->
            <h2 class="page-heading1">
              <span>{{internForfragan.utredningsId}}</span>
            </h2>

          </div>
          <div class="flex-col-min buttonbar">
            <!-- Buttonbar -->
            <ib-button
                btn-id="accept-internforfragan-btn"
                btn-class="btn-primary"
                btn-disabled="!canAccept()"
                busy="vm.widgetState.busyAccepting"
                btn-click="onAccept()">
              <i class="material-icons">check</i>
              <span message key="internforfragan.besvara.acceptbtn.label"></span>
            </ib-button>

            <ib-button
                btn-id="reject-internforfragan-btn"
                btn-class="btn-secondary"
                btn-disabled="!canReject()"
                busy="vm.widgetState.busyRejecting"
                btn-click="onReject()">
              <i class="material-icons">cancel</i>
              <span message key="internforfragan.besvara.rejectbtn.label"></span>
            </ib-button>
          </div>
        </div>
      </div>
    </div>
  </ib-spinner>
</div>
