<span class="icon-container">
  <span ng-if="::slutdatumPaVagPasseras"
        uib-popover="Slutdatum på väg att passeras"
        popover-trigger="mouseenter"
        popover-popup-delay="300"
        popover-append-to-body="true"
        popover-placement="auto top">
    <i class="material-icons slutdatum-paminnelse">info</i>
  </span>
  <span ng-if="::slutdatumPasserat"
        uib-popover="Slutdatum har passerats"
        popover-trigger="mouseenter"
        popover-popup-delay="300"
        popover-append-to-body="true"
        popover-placement="auto top">
    <i class="material-icons slutdatum-passed">warning</i>
  </span>
</span>
{{ slutdatumFas }}
