<div class="ib-header-unit-settings-dialog-template">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="$dismiss()">×</button>
    <h3><span message key="unitsettings.kontakt.change.modal.label"></span></h3>
  </div>

  <div class="modal-body">
    <div ib-spinner label="unitsettings.spinner.loading" show-spinner="vm.loading">
      <form name="preferenceForm" class="form-horizontal" novalidate autocomplete="off">
        <h4><span message key="unitsettings.kontakt.change.adress.title"></span></h4>
        <p>
          <span message key="unitsettings.kontakt.change.adress.desc"></span>
        </p>

        <div class="form-group">
          <ib-textfield
              id="mottagarNamn"
              model="vm.model.mottagarNamn"
              label-key="unitsettings.kontakt.form.mottagarnamn"
              max-length="255"
              label-col-size="2"
              input-col-size="10">
            </ib-textfield>
        </div>

        <div class="form-group">
          <ib-textfield
              id="adress"
              model="vm.model.adress"
              label-key="unitsettings.kontakt.form.adress"
              max-length="255"
              label-col-size="2"
              input-col-size="10">
          </ib-textfield>
        </div>

        <!-- combined postnr/ort -->
        <div class="form-group">
          <ib-textfield
              id="postnummer"
              model="vm.model.postnummer"
              label-key="unitsettings.kontakt.form.postnummer"
              max-length="255"
              label-col-size="2"
              input-col-size="3">
          </ib-textfield>
          <ib-textfield
              id="postort"
              model="vm.model.postort"
              label-key="unitsettings.kontakt.form.postort"
              max-length="255"
              label-col-size="1"
              input-col-size="6">
          </ib-textfield>
        </div>

        <div class="form-group">
          <ib-textfield
              id="telefonnummer"
              model="vm.model.telefonnummer"
              label-key="unitsettings.kontakt.form.telefonnummer"
              max-length="255"
              label-col-size="2"
              input-col-size="3">
          </ib-textfield>

          <ib-textfield
              id="epost"
              model="vm.model.epost"
              label-key="unitsettings.kontakt.form.epost"
              max-length="255"
              label-col-size="1"
              input-col-size="6">
          </ib-textfield>
        </div>


      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="save-unit-settings-btn" ng-click="saveChanges()" ng-disabled="vm.loading || vm.saving"><span message key="common.save"></span></button>
    <button type="button" class="btn btn-default" id="cancel-unit-settings-btn" ng-click="$dismiss()"><span message key="common.cancel"></span></button>
  </div>
</div>
