.ib-header-unit-settings-dialog-template {
  &.kontakt {
    .scrollable-body {
      max-height: 70vh;
      .inner-body {
        padding-bottom: 20px;
      }
      #postnr {
        input {
          width: 70px;
        }
      }
    }
  }
}
