<div class="container listaForfragningar-page">

  <forfragan-filter filter="filter" filter-changed="getForfragningarFiltered()"></forfragan-filter>

  <span id="vardadmin-lista-forfragningar-resulttext">Sökresultat: {{forfragningar.length}} av {{forfragningarTotal}} förfrågningar</span>

  <table id="vardadmin-lista-forfragningar-table" class="table table-striped ib-table-striped">
    <thead>
      <tr>
        <th ib-table-head label-key="label.table.forfragningar.column.id"></th>
        <th ib-table-head label-key="label.table.forfragningar.column.typ"></th>
        <th ib-table-head label-key="label.table.forfragningar.column.landsting"></th>
        <th ib-table-head label-key="label.table.forfragningar.column.inkommet" help-key="label.table.forfragningar.column.inkommet.tooltip"></th>
        <th ib-table-head label-key="label.table.forfragningar.column.svarsdatum" help-key="label.table.forfragningar.column.svarsdatum.tooltip"></th>
        <th ib-table-head label-key="label.table.forfragningar.column.planeringsdatum" help-key="label.table.forfragningar.column.planeringsdatum.tooltip"></th>
        <th ib-table-head label-key="label.table.forfragningar.column.status"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in forfragningar">
        <td>{{::row.utredningsId}}</td>
        <td>{{::row.utredningsTyp}}</td>
        <td>{{::row.vardgivareNamn}}</td>
        <td>{{::row.skapadDatum}}</td><!-- <ib-bestallning-slutdatum-fas slutdatum-passerat="::row.slutdatumPasserat" slutdatum-pa-vag-passeras="::row.slutdatumPaVagPasseras" slutdatum-fas="::row.slutdatumFas"></ib-bestallning-slutdatum-fas> -->
        <td><ib-forfragan-svarsdatum svarsdatum-passerat="::row.besvarasSenastDatumPasserat" svarsdatum-pa-vag-passeras="::row.besvarasSenastDatumPaVagPasseras" svarsdatum="::row.besvarasSenastDatum"></ib-forfragan-svarsdatum></td>
        <td>{{::row.planeringsDatum}}</td>
        <td><ib-forfragan-status status="::row.status.label" kraver-atgard="::row.kraverAtgard"></ib-forfragan-status></td>
        <td><button class="btn btn-primary"><span message key="common.show"></span></button></td>
      </tr>
    </tbody>
  </table>

  <div id="vardadmin-lista-forfragningar-no-results" ng-if="!forfragningar.length">
    <span message key="common.no.results"></span>
  </div>

</div>
