<div class="modal-header">
  <button type="button" class="close" data-ng-click="$dismiss()"><i class="material-icons">close</i></button>
  <h3>Lägg till vårdenhet</h3>
</div>

<div class="modal-body">
  <div class="search-section">
      <ib-textfield
          id="add-enhet-searchterm"
          model="vm.searchTerm"
          label-key="hantera-enheter.addunit.searchterm.label"
          max-length="255"
          placeholder-key="hantera-enheter.addunit.searchterm.hint">
      </ib-textfield>
      <ib-button
        btn-id="add-enhet-search-btn"
        btn-class="btn-primary"
        btn-disabled="!vm.searchTerm"
        busy="vm.busySearching"
        btn-click="onSearch()">
          <i class="material-icons">search</i>
          <span message key="hantera-enheter.addunit.searchterm.searchbtn.label"></span>
      </ib-button>
  </div>
  <div ng-if="vm.result.vardenhet" class="result-section">
    <card-modal>
      <h3>Vårdenhet</h3>
      <div>
        {{vm.result.vardenhet.namn}}
      </div>
    </card-modal>

    <card-modal>
      <h3>Kontaktuppgifter</h3>
      <div>
        {{vm.result.vardenhet.postadress}}<br>
        {{vm.result.vardenhet.postnummer}} {{vm.result.vardenhet.postort}}<br>
        {{vm.result.vardenhet.telefonnummer}}<br>
        {{vm.result.vardenhet.epost}}<br>
      </div>
    </card-modal>

    <ib-dropdown
        id="selectRegiFormDropDown"
        required="true"
        ng-if="vm.result.resultCode==='OK_TO_ADD'"
        label-key="hantera-enheter.addunit.selectregi.label"
        ng-model="vm.selectedRegiForm"
        items="vm.regiFormOptions">
    </ib-dropdown>
  </div>

  <!-- Messages  -->
    <div class="validation-error-message"
         ng-if="vm.result.resultCode === 'NO_MATCH'"
       id="hantera-enheter.addunit.result.nomatch">
      <span message key="hantera-enheter.addunit.result.nomatch"></span>

    </div>

    <ib-alert-message
        ng-if="vm.result.resultCode === 'ALREADY_EXISTS'"
        alert-id="hantera-enheter.addunit.result.alreadyexists"
        alert-message-id="hantera-enheter.addunit.result.alreadyexists"
        alert-severity="warning">
    </ib-alert-message>

    <ib-alert-message
        ng-if="vm.result.resultCode === 'INVALID_UNIT_TYPE'"
        alert-id="hantera-enheter.addunit.result.invalidunittype"
        alert-message-id="hantera-enheter.addunit.result.invalidunittype"
        alert-severity="warning">
    </ib-alert-message>
    <ib-alert-message
        ng-if="vm.result.resultCode === 'SEARCH_ERROR'"
        alert-id="hantera-enheter.addunit.result.searcherror"
        alert-message-id="hantera-enheter.addunit.result.searcherror"
        alert-severity="danger">
    </ib-alert-message>

</div>

<div class="modal-footer">
  <ib-button
      btn-id="add-enhet-save-btn"
      btn-class="btn-primary"
      btn-disabled="vm.result.resultCode!=='OK_TO_ADD' || !vm.selectedRegiForm"
      busy="vm.busySaving"
      btn-click="onAddUnit()">
    <span message key="common.confirm"></span>
  </ib-button>
  <ib-button
      btn-id="add-enhet-cancel-btn"
      btn-class="btn-default"
      btn-click="$dismiss()">
    <span message key="common.cancel"></span>
  </ib-button>
</div>
