<div class="VisaInternForfragan-page ib-workarea">


  <ib-intern-forfragan-header on-accept="onAccept()" on-reject="onReject()" intern-forfragan="vm.data.internForfragan"></ib-intern-forfragan-header>

  <div class="ib-workarea-hflex-container centered-constrained-content" id="view-{{vm.data.utredning.utredningsId}}">

    <div class="bottom-fadeout-gradient ib-color-27">
      <div></div>
    </div>

    <div id="ib-content-container" class="ib-workarea-utredning container-fluid edit-form">
      <ib-spinner label="common.label.loading" show-spinner="vm.loading">
        <div ng-hide="viewState.error.key">

          <div id="utredning" class="row utredning">
            <div class="col-md-12 utredning-body">
              <card>
                <h3>Förfrågan</h3>
                <card-body>
                  <h4>Datum</h4>
                  <card-table>
                    <table class="table table-striped ib-table-striped">
                      <thead>
                      <tr>
                        <th>Inkom</th>
                        <th>Besvaras senast</th>
                        <th>Planeringsdatum</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{vm.data.internForfragan.inkomDatum}}</td>
                        <td>{{vm.data.internForfragan.besvarasSenastDatum}}</td>
                        <td>{{vm.data.internForfragan.planeringsDatum}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </card-table>
                </card-body>
              </card>
              <card>
                <h3>Invånare</h3>
                <card-body>
                  <h4>Bostadsort</h4>
                  <card-value>
                    {{vm.data.utredning.bostadsort}}
                  </card-value>
                  <h4>Tidigare utredd</h4>
                  <card-value>
                    {{vm.data.utredning.tidigareUtredd | ibBoolFilter}}<span ng-if="vm.data.utredning.tidigareEnheter">, vid {{vm.data.utredning.tidigareEnheter}}</span>
                    <ib-alert-message alert-id="" alert-severity="danger" ng-if="vm.data.utredning.felaktigaEnheter">
                      Felaktig enhet(er): {{vm.data.utredning.felaktigaEnheter}}
                    </ib-alert-message>
                  </card-value>
                </card-body>
              </card>
              <card>
                <h3>Meddelande</h3>
                <card-body>
                  <h4>Behov av tolk</h4>
                  <card-value>
                    {{vm.data.utredning.behovAvTolk}}
                  </card-value>
                  <h4>Särskilda behov</h4>
                  <card-value>
                    {{vm.data.utredning.sarskildaBehov}}
                  </card-value>
                  <h4>Andra kommentarer</h4>
                  <card-value>
                    {{vm.data.utredning.kommentar}}
                  </card-value>
                </card-body>
              </card>
              <card>
                <h3>Handläggare</h3>
                <card-body>
                  <h4>Kontaktuppgifter</h4>
                  <card-value>
                    {{vm.data.utredning.handlaggareNamn}}<br>
                    {{vm.data.utredning.handlaggareTelefonnummer}}<br>
                    {{vm.data.utredning.handlaggareEpost}}
                  </card-value>
                </card-body>
              </card>
              <card>
                <h3>Meddelande från Landsting</h3>
                <card-body>
                  <h4>Meddelande</h4>
                  <card-value>
                    {{vm.data.internForfragan.kommentar}}<br>
                  </card-value>
                </card-body>
              </card>
            </div>
          </div>

        </div>
      </ib-spinner>
    </div>

    <div class="ib-workarea-supportpanel internforfragan-svar">
      <ib-spinner label="common.label.loading" show-spinner="vm.loading">
        <div ng-if="vm.data.internForfragan.status.id !== 'INKOMMEN'">
            <ib-besvarad-intern-forfragan-panel
                intern-forfragan-svar-view-state="internForfraganSvarViewState"></ib-besvarad-intern-forfragan-panel>
        </div>
      </ib-spinner>
    </div>

  </div>

</div>
