.VisaInternForfragan-page {

  .utredning-body {
  }

  .ib-workarea-supportpanel {
    $tab-border-color: $ib-color-15;

    $tab-text-color: $ib-color-19;
    $tab-text-color-hover: $ib-color-21;

    $tab-background-color: $ib-color-00;
    $tab-background-color-hover: $ib-color-28;

    $active-tab-text-color: $ib-color-19;
    $active-tab-background-color: $ib-color-15;
    $active-tab-border-color: $active-tab-background-color;

    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    padding: 8px 0 2px 8px;
    overflow-y: auto;

    .single-tab-workarea {
      background-color: $ib-color-00;
      border: 1px solid $ib-color-15;
      border-radius: 4px;
      padding: 10px;

      .single-tab-content {
        max-width:700px;
        padding: 20px;
      }

      h3 {
        @extend %ib-typo-02;
        color: $ib-color-07;
      }
      h4 {
        @extend %ib-typo-06;
        color: $ib-color-07;
      }
    }
  }
}
