<div class="visaBestallning-page ib-workarea background">

  <ib-bestallning-header bestallning="bestallning"
                         bestallning-view-state="bestallningViewState"></ib-bestallning-header>

  <div class="ib-workarea-hflex-container centered-constrained-content upper-margin"
       id="edit-{{bestallning.bestallning.Id}}">
    <uib-tabset active="active" class="flex-column">
      <uib-tab index="0" heading="Beställning" ng-click="setActive(0)">
        <div class="whitebox"></div>
        <div class="bottom-fadeout-gradient ib-color-27">
          <div></div>
        </div>
        <div id="ib-content-container" class="ib-workarea-utredning container-fluid edit-form top-corner">
          <div ng-hide="viewState.error.key">
            <ib-spinner label="info.loadingintyg" show-spinner="vm.loading">
              <div id="bestallning" class="bestallning">
                <div class="bestallning-body">
                  <card>
                    <h3>Beställning</h3>
                    <card-body>
                      <h4>Utredningstyp</h4>
                      <card-value>
                        {{bestallning.utredningsTyp.label}}
                      </card-value>
                      <h4>Datum</h4>
                      <card-table>
                        <table class="table table-striped ib-table-striped">
                          <tr>
                            <th>Beställningsdatum</th>
                            <th>Slutdatum utlåtande</th>
                            <th>Slutdatum komplettering</th>
                          </tr>
                          <tr>
                            <td>{{bestallning.inkomDatum}}</td>
                            <td>{{bestallning.intygSistaDatum}}</td>
                            <td>{{bestallning.intygSistaDatumKomplettering}}</td>
                          </tr>
                        </table>
                      </card-table>
                      <div ng-if="bestallning.fas.id === 'AVSLUTAD'">
                        <h4>Avslutsvillkor</h4>
                        <card-table>
                          <table class="table table-striped ib-table-striped">
                            <tr>
                              <th>Avslutsdatum</th>
                              <th>Ersätts</th>
                              <th>Orsak</th>
                            </tr>
                            <tr>
                              <td>{{bestallning.avbrutenDatum}}</td>
                              <td>{{bestallning.ersatts}}</td>
                              <td>{{bestallning.avbrutenAnledning}}</td>
                            </tr>
                          </table>
                        </card-table>
                      </div>
                    </card-body>
                  </card>
                  <card>
                    <h3>Invånare</h3>
                    <card-body>
                      <h4>Personnummer/Samordningsnummer</h4>
                      <card-value>
                        {{bestallning.invanare.personId}}
                      </card-value>
                      <h4>Namn</h4>
                      <card-value>
                        {{bestallning.invanare.name}}
                      </card-value>
                      <h4>Kön</h4>
                      <card-value ng-switch="bestallning.invanare.gender">
                        <span ng-switch-when="F">Kvinna</span>
                        <span ng-switch-when="M">Man</span>
                      </card-value>
                      <h4>Behov av tolk</h4>
                      <card-value>
                        {{bestallning.behovTolk | ibBoolFilter}}<span ng-if="bestallning.behovTolk">, {{bestallning.tolkSprak}}</span>
                      </card-value>
                      <h4>Särskilda behov</h4>
                      <ib-card-value value="bestallning.invanare.sarskildaBehov"/>
                    </card-body>
                  </card>
                  <card>
                    <h3>Meddelande</h3>
                    <card-body>
                      <h4>Meddelande från handläggare</h4>
                      <card-table>
                        <table class="table table-striped ib-table-striped">
                          <tr>
                            <th>Datum</th>
                            <th>Meddelande</th>
                          </tr>
                          <tr ng-if="bestallning.meddelandeFromHandlaggareList.length > 0" ng-repeat="meddelandeHistorik in bestallning.meddelandeFromHandlaggareList">
                            <td>{{meddelandeHistorik.datum}}</td>
                            <td ng-if="meddelandeHistorik.kommentar">{{meddelandeHistorik.kommentar}}</td>
                            <td ng-if="!meddelandeHistorik.kommentar"><i>Inga kommentarer från handläggaren</i></td>
                          </tr>
                          <tr ng-if="bestallning.meddelandeFromHandlaggareList.length < 1">
                            <td>{{bestallning.inkomDatum}}</td>
                            <td><i>Inga kommentarer från handläggaren</i></td>
                          </tr>
                          <!-- TODO: rows for history of comments originating from updateorder -->
                        </table>
                      </card-table>
                    </card-body>
                  </card>
                  <card>
                    <h3>Handläggare</h3>
                    <card-body>
                      <h4>Kontaktuppgifter</h4>
                      <ib-card-value value="bestallning.handlaggarKontaktUppgifter"/>
                    </card-body>
                  </card>
                </div>
              </div>
            </ib-spinner>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="Besök och avvikelser" ng-click="setActive(1)">
        <ib-besok class="tab-content-container" bestallning="bestallning"></ib-besok>
      </uib-tab>

      <uib-tab index="2" heading="Händelser" ng-click="setActive(2)">
        <ib-utredning-handelser class="tab-content-container" utredning="bestallning" column-set="VARDADMIN"></ib-utredning-handelser>
      </uib-tab>

      <uib-tab index="3" heading="Anteckningar" ng-click="setActive(3)">
        <visa-anteckningar class="tab-content-container" anteckning-list="bestallning.anteckningList"></visa-anteckningar>
      </uib-tab>

    </uib-tabset>

  </div>

</div>
