ib-horisontal-textfield {
  display: flex;
  align-items: flex-start;

  label {
    @extend %ib-typo-14;
    color: $ib-color-09;
    margin-top: 8px;
    min-width: 100px;

    span.required {
      @extend %ib-typo-14;
      color: $ib-color-04;
    }
  }
  div {
    flex: auto;
  }
  input.form-control {
    height: 38px;
    border: 1px solid $ib-color-15;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  }
  input.form-control:focus {
    outline: none !important;
    border: 1px solid $ib-color-21;
    box-shadow: 2px 2px 4px 0 $black_12;
  }

}