<ib-textfield
    id="filterFritext"
    model="filter.freetext"
    label-key="avslutade.bestallningar.filter.fritext.label"
    max-length="255"
    on-change="onChange()"
    placeholder-key="avslutade.bestallningar.filter.fritext.placeholder">
</ib-textfield>
<ib-dropdown
    id="filterLandsting"
    ng-model="filter.vardgivareNamn"
    ng-change="onChange()"
    label-key="avslutade.bestallningar.filter.vardgivareNamn.label"
    items="filter.vardgivareNamnOptions">
</ib-dropdown>
<ib-date-range-picker
    id="filterAvslutsdatum"
    model="filter.avslutsDatum"
    on-change="onChange()"
    label-key="avslutade.bestallningar.filter.avslutsdatum.label"
    placeholder-key="avslutade.bestallningar.filter.avslutsdatum.placeholder">
</ib-date-range-picker>
<ib-dropdown
    id="filterErsatts"
    ng-model="filter.ersatts"
    ng-change="onChange()"
    label-key="avslutade.bestallningar.filter.ersatts.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
        id="filterFakturerad"
        ng-model="filter.fakturerad"
        ng-change="onChange()"
        label-key="avslutade.bestallningar.filter.fakturerad.label"
        items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
        id="filterUtbetald"
        ng-model="filter.utbetald"
        ng-change="onChange()"
        label-key="avslutade.bestallningar.filter.utbetald.label"
        items="filter.yesNoOptions">
</ib-dropdown>
<button class="btn btn-primary" ng-click="resetFilter()" ng-disabled="filter.isDefault()">
  <message key="avslutade.bestallningar.filter.resetfilter.label"></message>
</button>

