<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="ibSimulatorApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ROBOTS" content="nofollow, noindex"/>

<title>Intygsbeställning myndighetsimulator</title>
<!-- build:css({build/.tmp,src/main/webapp}) app/app.css -->
<!-- injector:css -->
<link rel="stylesheet" href="/app/app.css">
<!-- endinjector -->
<!-- endbuild -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script type="text/javascript" src="bower_components/moment/moment.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<style type="text/css">
  textarea {
    font-family: Consolas, Lucida Console, monospace;
    font-size: 0.7em;
  }
  body {
    overflow: auto;
    background-color: #D7D7DD;
  }
  body > div {
    background-color: #FFFFFF;
  }
  .tab-content {
    margin: 20px;
  }
</style>

<script type="text/javascript">

  angular.module('ibSimulatorApp', [
      'ibSimulatorApp.controllers', 'ui.bootstrap'
  ]);

  angular.module('ibSimulatorApp.controllers', []).controller('simulatorController',
      ['$scope', '$http', '$log', function($scope, $http, $log) {

          var rpfaUrl = '/services/request-performer-for-assessment-responder';
          var oaUrl = '/services/order-assessment-responder';
          var rdUrl = '/services/report-deviation-interaction-responder';
          var rcrUrl = '/services/report-certificate-receival-responder';
          var uoUrl = '/services/update-order-responder';
          var rsUrl = '/services/request-supplement-responder';

          $scope.rpfa = {
              certificateType: 'AFU',
              lastResponseDate: moment().add(7, 'days').format('YYYY-MM-DD'),
              coordinatingCountyCouncilId:'IFV1239877878-1041',
              authorityAdministrativeOfficial: {
                  fullName: 'Handläggaren',
                  phoneNumber: '000111',
                  email: '',
                  officeName: 'Handläggarkontor',
                  officeCostCenter: 'Handläggarkostnadsställe',
                  postalAddress: 'Handläggaradress 1',
                  postalCode: '00000',
                  postalCity: 'Handläggarstaden',
              },
              citizen: {
                  postalCity: 'Invånarstaden',
                  specialNeeds: 'Speciella behov',
                  earlierAssessmentPerformer: []
              }
          };

          $scope.coordinatingCountyCouncilIdOptions = [];
          $scope.vardenhetOptions = [];
          $http.get('/services/api/hsa-api/medarbetaruppdrag').then(function(response) {
              angular.forEach(response.data, function(medarbetaruppdrag) {
                  angular.forEach(medarbetaruppdrag.uppdrag, function(uppdrag) {
                      angular.forEach(uppdrag.systemRoles, function(systemRole) {
                          if (systemRole.indexOf('INTYG;FMU-SAMORDNARE-') == 0) {
                              $scope.coordinatingCountyCouncilIdOptions.push(systemRole.substr(21));
                          }
                          if (systemRole.indexOf('INTYG;FMU-VARDADMIN-') == 0) {
                              $scope.vardenhetOptions.push(systemRole.substr(20));
                          }
                      });
                  });
              });
          }, function(response) {
              $log.error('error ' + response.status);
          });

          $scope.addEarlierAssessmentPerformer = function() {
              $scope.rpfa.citizen.earlierAssessmentPerformer.push({});
          };

          $scope.sendRpfa = function() {

              var earlierAssessmentPerformerRequest = '';
              angular.forEach($scope.rpfa.citizen.earlierAssessmentPerformer, function(earlierAssessmentPerformer) {
                  earlierAssessmentPerformerRequest += '<!--Zero or more repetitions:-->' +
                      '<urn2:earlierAssessmentPerformer>' +
                          '<urn2:root>1.2.752.129.2.1.4.1</urn2:root>' +
                          '<urn2:extension>' + earlierAssessmentPerformer.id + '</urn2:extension>' +
                      '</urn2:earlierAssessmentPerformer>';
              });

              var comment = '';
              if ($scope.rpfa.comment) {
                  comment = '<urn1:comment>' + $scope.rpfa.comment + '</urn1:comment>';
              }

              var needForInterpreter = '';
              if ($scope.rpfa.needForInterpreter !== undefined && $scope.rpfa.needForInterpreter !== null) {
                  needForInterpreter = '<urn1:needForInterpreter>' + $scope.rpfa.needForInterpreter + '</urn1:needForInterpreter>';
              }

              var interpreterLanguage = '';
              if ($scope.rpfa.interpreterLanguage) {
                  interpreterLanguage += '<urn1:interpreterLanguage>' +
                  '<urn2:code>' + $scope.rpfa.interpreterLanguage + '</urn2:code>' +
                  '<urn2:codeSystem></urn2:codeSystem>' +
                  '</urn1:interpreterLanguage>';
              }

              var msg = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:riv:itintegration:registry:1" xmlns:urn1="urn:riv-application:intygsbestallning:certificate:order:RequestPerformerForAssessmentResponder:1" xmlns:urn2="urn:riv-application:intygsbestallning:certificate:order:1">' +
                  '<soapenv:Header>' +
                  '<urn:LogicalAddress>?</urn:LogicalAddress>' +
                  '</soapenv:Header>' +
                  '<soapenv:Body>' +
                      '<urn1:RequestPerformerForAssessment>' +
                          '<urn1:certificateType>' +
                            '<urn2:code>' + $scope.rpfa.certificateType + '</urn2:code>' +
                            '<urn2:codeSystem>b64ea353-e8f6-4832-b563-fc7d46f29548</urn2:codeSystem>' +
                          '</urn1:certificateType>' +
                          '<urn1:lastResponseDate>' + moment($scope.rpfa.lastResponseDate, 'YYYY-MM-DD').format('YYYYMMDD') + '</urn1:lastResponseDate>' +
                          '<urn1:coordinatingCountyCouncilId>' +
                            '<urn2:root>1.2.752.129.2.1.4.1</urn2:root>' +
                            '<urn2:extension>' + $scope.rpfa.coordinatingCountyCouncilId + '</urn2:extension>' +
                          '</urn1:coordinatingCountyCouncilId>' +
                          comment +
                          needForInterpreter +
                          interpreterLanguage +
                          '<urn1:authorityAdministrativeOfficial>' +
                              // <!--Optional:-->
                              '<urn2:fullName>' + $scope.rpfa.authorityAdministrativeOfficial.fullName + '</urn2:fullName>' +
                              '<urn2:phoneNumber>' + $scope.rpfa.authorityAdministrativeOfficial.phoneNumber + '</urn2:phoneNumber>' +
                              // <!--Optional:-->
                              '<urn2:email>' + $scope.rpfa.authorityAdministrativeOfficial.email + '</urn2:email>' +
                              '<urn2:authority>' +
                                  '<urn2:code>FKASSA</urn2:code>' +
                                  '<urn2:codeSystem>769bb12b-bd9f-4203-a5cd-fd14f2eb3b80</urn2:codeSystem>' +
                                  /*
                                  // <!--Optional:-->
                                  '<urn2:codeSystemName>?</urn2:codeSystemName>' +
                                  // <!--Optional:-->
                                  '<urn2:codeSystemVersion>?</urn2:codeSystemVersion>' +
                                  // <!--Optional:-->
                                  '<urn2:displayName>?</urn2:displayName>' +
                                  */
                              '</urn2:authority>' +
                              // <!--Optional:-->
                              '<urn2:officeName>' + $scope.rpfa.authorityAdministrativeOfficial.officeName + '</urn2:officeName>' +
                              // <!--Optional:-->
                              '<urn2:officeCostCenter>' + $scope.rpfa.authorityAdministrativeOfficial.officeCostCenter + '</urn2:officeCostCenter>' +
                              // <!--Optional:-->
                              '<urn2:officeAddress>' +
                              // <!--Optional:-->
                              '<urn2:postalAddress>' + $scope.rpfa.authorityAdministrativeOfficial.postalAddress + '</urn2:postalAddress>' +
                              // <!--Optional:-->
                              '<urn2:postalCode>' + $scope.rpfa.authorityAdministrativeOfficial.postalCode + '</urn2:postalCode>' +
                              // <!--Optional:-->
                              '<urn2:postalCity>' + $scope.rpfa.authorityAdministrativeOfficial.postalCity + '</urn2:postalCity>' +
                              '</urn2:officeAddress>' +
                          '</urn1:authorityAdministrativeOfficial>' +
                          '<urn1:citizen>' +
                              '<urn2:postalCity>' + $scope.rpfa.citizen.postalCity + '</urn2:postalCity>' +
                              // <!--Optional:-->
                              '<urn2:specialNeeds>' + $scope.rpfa.citizen.specialNeeds + '</urn2:specialNeeds>' +
                              earlierAssessmentPerformerRequest +
                          '</urn1:citizen>' +
                      '</urn1:RequestPerformerForAssessment>' +
                      '</soapenv:Body>' +
                  '</soapenv:Envelope>';

              sendSoap(rpfaUrl, msg);
          };

          $scope.oa = {
              assessmentId: null,
              assessmentIdOptions: [],
              careUnitIdForAssessmentId: {},
              certificateType: 'AFU',
              needForInterpreter: false,
              lastDateForCertificateReceival: moment().add(7, 'days').format('YYYY-MM-DD'),
              documentsByPost: true,
              authorityAdministrativeOfficial: {
                  fullName: 'Handläggaren',
                  phoneNumber: '000111',
                  email: '',
                  officeName: 'Handläggarkontor',
                  officeCostCenter: 'Handläggarkostnadsställe',
                  postalAddress: 'Handläggaradress 1',
                  postalCode: '00000',
                  postalCity: 'Handläggarstaden',
              },
              citizen: {
                  personalIdentityRoot:'1.2.752.129.2.1.3.1',
                  personalIdentityExtension:'191212121212',
                  firstName: 'Tolvan',
                  middleName: '',
                  lastName: 'Tolvansson',
                  specialNeeds: '',
                  situationBackground: ''
              }
          };

          $scope.onAssessmentIdChanged = function() {
              $scope.oa.careUnitId = $scope.oa.careUnitIdForAssessmentId[$scope.oa.assessmentId];
          };

          $scope.refreshOaAssestmentIdOptions = function() {
              $scope.oa.assessmentIdOptions = [];
              $scope.oa.careUnitIdForAssessmentId = {};
              $http.get('/api/test/utredningar/withstatus/TILLDELAD_VANTAR_PA_BESTALLNING').then(function(response){
                  $log.info(response.data);
                  $scope.oa.assessmentId = null;
                  angular.forEach(response.data, function(utredning){
                      $scope.oa.assessmentIdOptions.push(utredning.utredningId);
                      var tilldeladVardenhet = utredning.externForfragan.internForfraganList
                          .filter(function(internForfragan) {
                             return internForfragan.tilldeladDatum || internForfragan.direkttilldelad;
                          }).map(function(internForfragan) {
                             return internForfragan.vardenhetHsaId;
                          });
                      if (tilldeladVardenhet.length == 1) {
                          $scope.oa.careUnitIdForAssessmentId[utredning.utredningId] = tilldeladVardenhet[0];
                      }
                  });
                  if (response.data && response.data.length > 0) {
                      $scope.oa.assessmentId = response.data[0].utredningId;
                  }
                  $scope.onAssessmentIdChanged();
              });
          };

          $scope.refreshOaAssestmentIdOptions();

          $scope.sendOa = function() {

              var needForInterpreter = '';
              if ($scope.oa.needForInterpreter !== undefined && $scope.oa.needForInterpreter !== null) {
                  needForInterpreter = '<urn1:needForInterpreter>' + $scope.oa.needForInterpreter + '</urn1:needForInterpreter>';
              }

              var interpreterLanguage = '';
              if ($scope.oa.interpreterLanguage) {
                  interpreterLanguage += '<urn1:interpreterLanguage>' +
                      '<urn2:code>' + $scope.oa.interpreterLanguage + '</urn2:code>' +
                      '<urn2:codeSystem></urn2:codeSystem>' +
                      '</urn1:interpreterLanguage>';
              }

              var comment = '';
              if ($scope.oa.comment) {
                  comment = '<urn1:comment>' + $scope.oa.comment + '</urn1:comment>';
              }

              var lastDateForCertificateReceival = '';
              if ($scope.oa.lastDateForCertificateReceival) {
                  lastDateForCertificateReceival = '<urn1:lastDateForCertificateReceival>' +
                      moment($scope.oa.lastDateForCertificateReceival, 'YYYY-MM-DD').format('YYYYMMDD')  +
                  '</urn1:lastDateForCertificateReceival>';
              }

              var documentsByPost = '';
              if ($scope.oa.documentsByPost) {
                  documentsByPost = '<urn1:documentsByPost>' + $scope.oa.documentsByPost + '</urn1:documentsByPost>';

              }

              var purpose = '';
              if ($scope.oa.purpose) {
                  purpose = '<urn1:purpose>' + $scope.oa.purpose + '</urn1:purpose>';
              }

              var plannedActions = '';
              if ($scope.oa.plannedActions) {
                  plannedActions = '<urn1:plannedActions>' + $scope.oa.plannedActions + '</urn1:plannedActions>';
              }

              var msg = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:riv:itintegration:registry:1" xmlns:urn1="urn:riv-application:intygsbestallning:certificate:order:OrderAssessmentResponder:1" xmlns:urn2="urn:riv-application:intygsbestallning:certificate:order:1">' +
              '<soapenv:Header>' +
              '<urn:LogicalAddress>ib-hsa-id</urn:LogicalAddress>' +
              '</soapenv:Header>' +
              '<soapenv:Body>' +
              '<urn1:OrderAssessment>' +
              <!--Optional:-->
              '<urn1:assessmentId>' +
              '<urn2:root></urn2:root>' +
              '<urn2:extension>' + $scope.oa.assessmentId + '</urn2:extension>' +
              '<!--You may enter ANY elements at this point-->' +
              '</urn1:assessmentId>' +
              '<urn1:careUnitId>' +
              '<urn2:root>1.2.752.129.2.1.4.1</urn2:root>' +
              '<urn2:extension>' + $scope.oa.careUnitId + '</urn2:extension>' +
              '<!--You may enter ANY elements at this point-->' +
              '</urn1:careUnitId>' +
              '<urn1:certificateType>' +
              '<urn2:code>' + $scope.oa.certificateType + '</urn2:code>' +
              '<urn2:codeSystem>b64ea353-e8f6-4832-b563-fc7d46f29548</urn2:codeSystem>' +
              '<!--You may enter ANY elements at this point-->' +
              '</urn1:certificateType>' +
              needForInterpreter +
              interpreterLanguage +
              comment +
              lastDateForCertificateReceival +
              documentsByPost +
              purpose +
              plannedActions +
              '<urn1:authorityAdministrativeOfficial>' +
                  // <!--Optional:-->
                  '<urn2:fullName>' + $scope.oa.authorityAdministrativeOfficial.fullName + '</urn2:fullName>' +
                  '<urn2:phoneNumber>' + $scope.oa.authorityAdministrativeOfficial.phoneNumber + '</urn2:phoneNumber>' +
                  // <!--Optional:-->
                  '<urn2:email>' + $scope.oa.authorityAdministrativeOfficial.email + '</urn2:email>' +
                  '<urn2:authority>' +
                  '<urn2:code>FKASSA</urn2:code>' +
                  '<urn2:codeSystem>769bb12b-bd9f-4203-a5cd-fd14f2eb3b80</urn2:codeSystem>' +
                  '</urn2:authority>' +
                  // <!--Optional:-->
                  '<urn2:officeName>' + $scope.oa.authorityAdministrativeOfficial.officeName + '</urn2:officeName>' +
                  // <!--Optional:-->
                  '<urn2:officeCostCenter>' + $scope.oa.authorityAdministrativeOfficial.officeCostCenter + '</urn2:officeCostCenter>' +
                  // <!--Optional:-->
                  '<urn2:officeAddress>' +
                  // <!--Optional:-->
                  '<urn2:postalAddress>' + $scope.oa.authorityAdministrativeOfficial.postalAddress + '</urn2:postalAddress>' +
                  // <!--Optional:-->
                  '<urn2:postalCode>' + $scope.oa.authorityAdministrativeOfficial.postalCode + '</urn2:postalCode>' +
                  // <!--Optional:-->
                  '<urn2:postalCity>' + $scope.oa.authorityAdministrativeOfficial.postalCity + '</urn2:postalCity>' +
                  '</urn2:officeAddress>' +
              '</urn1:authorityAdministrativeOfficial>' +
              '<urn1:citizen>' +
                  '<urn2:personalIdentity>' +
                      '<urn2:root>' + $scope.oa.citizen.personalIdentityRoot  + '</urn2:root>' +
                      '<urn2:extension>' + $scope.oa.citizen.personalIdentityExtension + '</urn2:extension>' +
                  '</urn2:personalIdentity>' +
                  '<!--Optional:-->' +
                  '<urn2:firstName>' + $scope.oa.citizen.firstName + '</urn2:firstName>' +
                  '<!--Optional:-->' +
                  '<urn2:middleName>' + $scope.oa.citizen.middleName + '</urn2:middleName>' +
                  '<!--Optional:-->' +
                  '<urn2:lastName>' + $scope.oa.citizen.lastName + '</urn2:lastName>' +
                  '<!--Optional:-->' +
                  '<urn2:specialNeeds>' + $scope.oa.citizen.specialNeeds + '</urn2:specialNeeds>' +
                  '<!--Optional:-->' +
                  '<urn2:situationBackground>' + $scope.oa.citizen.situationBackground + '</urn2:situationBackground>' +
              '</urn1:citizen>' +
              '</urn1:OrderAssessment>' +
              '</soapenv:Body>' +
              '</soapenv:Envelope>';

              sendSoap(oaUrl, msg);
          };


          //--------------- Update Order -------------------------------------------------------------------------------

          $scope.uo = {
              assessmentId: null,
              assessmentIdOptions: [],
              needForInterpreter: false,
              lastDateForCertificateReceival: moment().add(7, 'days').format('YYYY-MM-DD'),
              documentsByPost: true,
              authorityAdministrativeOfficial: {
                  fullName: 'Uppdaterade Handläggaren',
                  phoneNumber: '000111',
                  email: '',
                  officeName: 'Uppdaterat Handläggarkontor',
                  officeCostCenter: 'Uppdaterat Handläggarkostnadsställe',
                  postalAddress: 'Uppdaterat Handläggaradress 1',
                  postalCode: '00000',
                  postalCity: 'Uppdaterat Handläggarstaden'
              }
          };

          $scope.refreshUoAssestmentIdOptions = function() {
              $scope.uo.assessmentIdOptions = [];
              $http.get('/api/test/utredningar/withfas/UTREDNING').then(function(response){
                  $log.info(response.data);
                  $scope.uo.assessmentId = null;
                  angular.forEach(response.data, function(utredning){
                      $scope.uo.assessmentIdOptions.push(utredning.utredningId);

                  });
                  if (response.data && response.data.length > 0) {
                      $scope.uo.assessmentId = response.data[0].utredningId;
                  }

              });
          };

          $scope.refreshUoAssestmentIdOptions();

          $scope.sendUpdateOrder = function() {

              var needForInterpreter = '';
              if ($scope.uo.needForInterpreter !== undefined && $scope.uo.needForInterpreter !== null) {
                  needForInterpreter = '<urn1:needForInterpreter>' + $scope.uo.needForInterpreter + '</urn1:needForInterpreter>';
              }

              var interpreterLanguage = '';
              if ($scope.uo.interpreterLanguage) {
                  interpreterLanguage += '<urn1:interpreterLanguage>' +
                      '<urn2:code>' + $scope.uo.interpreterLanguage + '</urn2:code>' +
                      '<urn2:codeSystem></urn2:codeSystem>' +
                      '</urn1:interpreterLanguage>';
              }

              var comment = '';
              if ($scope.uo.comment) {
                  comment = '<urn1:comment>' + $scope.uo.comment + '</urn1:comment>';
              }

              var lastDateForCertificateReceival = '';
              if ($scope.uo.lastDateForCertificateReceival) {
                  lastDateForCertificateReceival = '<urn1:lastDateForCertificateReceival>' +
                      moment($scope.uo.lastDateForCertificateReceival, 'YYYY-MM-DD').format('YYYYMMDD')  +
                      '</urn1:lastDateForCertificateReceival>';
              }

              var documentsByPost = '';
              if ($scope.uo.documentsByPost) {
                  documentsByPost = '<urn1:documentsByPost>' + $scope.uo.documentsByPost + '</urn1:documentsByPost>';

              }


              var msg = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" ' +
                  'xmlns:urn="urn:riv:itintegration:registry:1" ' +
                  'xmlns:urn1="urn:riv-application:intygsbestallning:certificate:order:UpdateOrderResponder:1" ' +
                  'xmlns:urn2="urn:riv-application:intygsbestallning:certificate:order:1">' +
                  '<soapenv:Header><urn:LogicalAddress>ib-hsa-id</urn:LogicalAddress></soapenv:Header>' +
                  '<soapenv:Body>' +
                    '<urn1:UpdateOrder>' +
                      '<urn1:assessmentId>' +
                      '<urn2:root></urn2:root>' +
                      '<urn2:extension>' + $scope.uo.assessmentId + '</urn2:extension>' +
                      '</urn1:assessmentId>' +
                      comment +
                      lastDateForCertificateReceival +
                      needForInterpreter +
                      interpreterLanguage +
                      documentsByPost +
                      '<urn1:updatedAuthorityAdministrativeOfficial>' +
                        // <!--Optional:-->
                        '<urn2:fullName>' + $scope.uo.authorityAdministrativeOfficial.fullName + '</urn2:fullName>' +
                        '<urn2:phoneNumber>' + $scope.uo.authorityAdministrativeOfficial.phoneNumber + '</urn2:phoneNumber>' +
                        // <!--Optional:-->
                        '<urn2:email>' + $scope.uo.authorityAdministrativeOfficial.email + '</urn2:email>' +
                        '<urn2:authority>' +
                        '<urn2:code>FKASSA</urn2:code>' +
                        '<urn2:codeSystem>769bb12b-bd9f-4203-a5cd-fd14f2eb3b80</urn2:codeSystem>' +
                        '</urn2:authority>' +
                        // <!--Optional:-->
                        '<urn2:officeName>' + $scope.uo.authorityAdministrativeOfficial.officeName + '</urn2:officeName>' +
                        // <!--Optional:-->
                        '<urn2:officeCostCenter>' + $scope.uo.authorityAdministrativeOfficial.officeCostCenter +
                        '</urn2:officeCostCenter>' +
                        // <!--Optional:-->
                        '<urn2:officeAddress>' +
                        // <!--Optional:-->
                        '<urn2:postalAddress>' + $scope.uo.authorityAdministrativeOfficial.postalAddress +
                        '</urn2:postalAddress>' +
                        // <!--Optional:-->
                        '<urn2:postalCode>' + $scope.uo.authorityAdministrativeOfficial.postalCode + '</urn2:postalCode>' +
                        // <!--Optional:-->
                        '<urn2:postalCity>' + $scope.uo.authorityAdministrativeOfficial.postalCity + '</urn2:postalCity>' +
                        '</urn2:officeAddress>' +
                      '</urn1:updatedAuthorityAdministrativeOfficial>' +
                    '</urn1:UpdateOrder>' +
                  '</soapenv:Body>' +
                  '</soapenv:Envelope>';

              sendSoap(uoUrl, msg);
          };

          //---------- Report Deviation ------------------------------------------
          $scope.rd = {
              assessmentCareContactId: null,
              assessmentCareContactIdOptions: [],
              causedBy: 'VARDEN',
              deviationTime: moment().format('YYYYMMDDHHmmss'),
              citizenFailedToArrive: false
          };

          $scope.refreshRdAssessmentCareContactIdOptions = function() {
              // Finds all possible besok ids that FK may call ReportDeviation on.
              $scope.rd.assessmentCareContactIdOptions = [];
              $http.get('/api/test/utredningar/withstatus/UTREDNING_PAGAR').then(function(response){
                  $scope.rd.assessmentCareContactId = null;
                  angular.forEach(response.data, function(utredning) {
                      angular.forEach(utredning.besokList, function(besok) {
                          if(besok.besokStatus === 'TIDBOKAD_VARDKONTAKT') {
                              $scope.rd.assessmentCareContactIdOptions.push(besok.id);
                          }
                      });
                  });
                  $scope.rd.assessmentCareContactId =
                      ($scope.rd.assessmentCareContactIdOptions[0] || $scope.rd.assessmentCareContactId);
              });
          };

          $scope.refreshRdAssessmentCareContactIdOptions();

          $scope.causedByOptions = ['VARDEN','PATIENT'];

          $scope.sendRd = function() {

              var deviationId = '';
              if ($scope.rd.deviationId) {
                  deviationId = '<urn1:deviationId>' +
                      '<urn2:root>' + $scope.rd.deviationId + '</urn2:root>' +
                      '<urn2:extension>?</urn2:extension>' +
                      '</urn1:deviationId>';
              }

              var description = '';
              if ($scope.rd.description) {
                  description = '<urn1:description>' + $scope.rd.description + '</urn1:description>';
              }

              var citizenFailedToArrive = '';
              if ($scope.rd.citizenFailedToArrive !== null && $scope.rd.citizenFailedToArrive !== undefined) {
                  citizenFailedToArrive = '<urn1:citizenFailedToArrive>' + $scope.rd.citizenFailedToArrive + '</urn1:citizenFailedToArrive>';
              }

              var msg = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:riv:itintegration:registry:1" xmlns:urn1="urn:riv-application:intygsbestallning:certificate:order:ReportDeviationResponder:1" xmlns:urn2="urn:riv-application:intygsbestallning:certificate:order:1">' +
                  '<soapenv:Header>' +
                      '<urn:LogicalAddress>?</urn:LogicalAddress>' +
                  '</soapenv:Header>' +
                  '<soapenv:Body>' +
                      '<urn1:ReportDeviation>' +
                          '<urn1:assessmentCareContactId>' +
                              '<urn2:root>ib-hsa-id</urn2:root>' +
                              '<urn2:extension>' + $scope.rd.assessmentCareContactId + '</urn2:extension>' +
                          '</urn1:assessmentCareContactId>' +
                          deviationId +
                          '<urn1:causedBy>' +
                              '<urn2:code>' + $scope.rd.causedBy + '</urn2:code>' +
                              '<urn2:codeSystem></urn2:codeSystem>' +
                          '</urn1:causedBy>' +
                          description +
                          '<urn1:deviationTime>' + $scope.rd.deviationTime +  '</urn1:deviationTime>' +
                          citizenFailedToArrive +
                      '</urn1:ReportDeviation>' +
                  '</soapenv:Body>' +
                  '</soapenv:Envelope>';

              sendSoap(rdUrl, msg);
          };

          $scope.rcr = {
              assessmentId: null,
              assessmentIdOptions: [],
              receivedDate: moment().format('YYYYMMDD'),
              lastDateForSupplementRequest: moment().add(14, 'days').format('YYYYMMDD')
          };

          $scope.refreshRcrAssessmentIdOptions = function() {
              $scope.rcr.assessmentIdOptions = [];
              $http.get('/api/test/utredningar/withstatus/UTLATANDE_SKICKAT').then(function(response){
                  $scope.rcr.assessmentId = null;
                  angular.forEach(response.data, function(utredning){
                      $scope.rcr.assessmentIdOptions.push(utredning.utredningId);
                  });
                  if (response.data && response.data.length > 0) {
                      $scope.rcr.assessmentId = response.data[0].utredningId;
                  }
              });
          };

          $scope.refreshRcrAssessmentIdOptions();

          $scope.sendRcr = function() {
              var msg = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:riv:itintegration:registry:1" xmlns:urn1="urn:riv-application:intygsbestallning:certificate:order:ReportCertificateReceivalResponder:1" xmlns:urn2="urn:riv-application:intygsbestallning:certificate:order:1">' +
                  '<soapenv:Header>' +
                      '<urn:LogicalAddress>?</urn:LogicalAddress>' +
                  '</soapenv:Header>' +
                  '<soapenv:Body>' +
                      '<urn1:ReportCertificateReceival>' +
                          '<urn1:assessmentId>' +
                              '<urn2:root>utredningsId</urn2:root>' +
                              '<urn2:extension>' + $scope.rcr.assessmentId + '</urn2:extension>' +
                              '<!--You may enter ANY elements at this point-->' +
                          '</urn1:assessmentId>' +
                          '<urn1:receivedDate>' + $scope.rcr.receivedDate + '</urn1:receivedDate>' +
                          '<urn1:lastDateForSupplementRequest>' + $scope.rcr.lastDateForSupplementRequest + '</urn1:lastDateForSupplementRequest>' +
                      '<!--You may enter ANY elements at this point-->' +
                      '</urn1:ReportCertificateReceival>' +
                  '</soapenv:Body>' +
                  '</soapenv:Envelope>';

              sendSoap(rcrUrl, msg);
          };

          $scope.rs = {
              assessmentId: null,
              assessmentIdOptions: [],
              lastDateForSupplementReceival: moment().add(14, 'days').format('YYYYMMDD')
          };

          $scope.refreshRsAssessmentIdOptions = function() {
              $scope.rs.assessmentIdOptions = [];
              $http.get('/api/test/utredningar/withstatus/UTLATANDE_MOTTAGET').then(function(response1){
                  $http.get('/api/test/utredningar/withstatus/KOMPLETTERING_MOTTAGEN').then(function(response2) {
                      $scope.rs.assessmentId = null;
                      angular.forEach(response1.data, function(utredning) {
                          $scope.rs.assessmentIdOptions.push(utredning.utredningId);
                      });
                      angular.forEach(response2.data, function(utredning) {
                          $scope.rs.assessmentIdOptions.push(utredning.utredningId);
                      });
                      if ($scope.rs.assessmentIdOptions.length > 0) {
                          $scope.rs.assessmentId = $scope.rs.assessmentIdOptions[0];
                      }
                  });
              });
          };

          $scope.refreshRsAssessmentIdOptions();

          $scope.sendRs = function() {
              var msg = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:riv:itintegration:registry:1" xmlns:urn1="urn:riv-application:intygsbestallning:certificate:order:RequestSupplementResponder:1" xmlns:urn2="urn:riv-application:intygsbestallning:certificate:order:1">' +
                  '<soapenv:Header>' +
                  '<urn:LogicalAddress>?</urn:LogicalAddress>' +
                  '</soapenv:Header>' +
                  '<soapenv:Body>' +
                  '<urn1:RequestSupplement>' +
                  '<urn1:assessmentId>' +
                  '<urn2:root>utredningsId</urn2:root>' +
                  '<urn2:extension>' + $scope.rs.assessmentId + '</urn2:extension>' +
                  '<!--You may enter ANY elements at this point-->' +
                  '</urn1:assessmentId>' +
                  '<!--Optional:-->' +
                  '<urn1:lastDateForSupplementReceival>' + $scope.rs.lastDateForSupplementReceival + '</urn1:lastDateForSupplementReceival>' +
                  '<!--You may enter ANY elements at this point-->' +
                  '</urn1:RequestSupplement>' +
                  '</soapenv:Body>' +
                  '</soapenv:Envelope>';

              sendSoap(rsUrl, msg);
          };

          function sendSoap(url, msg) {

              $log.info(msg);

              $http({
                  method: 'POST',
                  url: url,
                  data: msg
              }).then(function successCallback(response) {

                  if (response.status === 200) {
                      var startIdx = response.data.indexOf('result>');
                      var endIdx = response.data.substring(startIdx + 7, response.data.length).indexOf('result>');
                      $scope.resultat = response.data.substring(startIdx + 7, startIdx + 7 + endIdx - 2);
                  } else {
                      $scope.resultat = '"Servern svarade med HTTP ' + response.status + ' ' + response.statusText +
                          '. Det betyder att någonting gick fel.';
                  }

              });
          }
      }]
  );

</script>
</head>
<body ng-controller="simulatorController">

  <div class="container">
    <uib-tabset active="active">
      <uib-tab heading="Utredning">
        <h2>RequestPerformerForAssessment</h2>
        <div class="row"><label class="col-sm-3 control-label">lastResponseDate</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.lastResponseDate"></div></div>
        <div class="row"><label class="col-sm-3 control-label">coordinatingCountyCouncilId</label>
          <div class="col-sm-9">
            <select class="form-control" ng-model="rpfa.coordinatingCountyCouncilId" ng-options="item for item in coordinatingCountyCouncilIdOptions">
            </select>
          </div>
        </div>
        <div class="row"><label class="col-sm-3 control-label">comment</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.comment"></div></div>
        <div class="row"><label class="col-sm-3 control-label">needForInterpreter</label><div class="col-sm-9"><input type="checkbox" ng-model="rpfa.needForInterpreter" ng-true-value="true" ng-false-value="false"></div></div>
        <div class="row"><label class="col-sm-3 control-label">interpreterLanguage</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.interpreterLanguage"></div></div>
        <h4>Handläggare</h4>
        <div class="row"><label class="col-sm-3 control-label">fullName</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.fullName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">phoneNumber</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.phoneNumber"></div></div>
        <div class="row"><label class="col-sm-3 control-label">email</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.email"></div></div>
        <div class="row"><label class="col-sm-3 control-label">officeName</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.officeName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">officeCostCenter</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.officeCostCenter"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalAddress</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.postalAddress"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalCode</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.postalCode"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalCity</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.authorityAdministrativeOfficial.postalCity"></div></div>
        <h4>Invånare</h4>
        <div class="row"><label class="col-sm-3 control-label">postalCity</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.citizen.postalCity"></div></div>
        <div class="row"><label class="col-sm-3 control-label">specialNeeds</label><div class="col-sm-9"><input class="form-control" ng-model="rpfa.citizen.specialNeeds"></div></div>
        <h4>Tidigare utredare</h4>
        <button class="btn btn-default" ng-click="addEarlierAssessmentPerformer()">Lägg till tidigare utredare</button>
        <div ng-repeat="earlierAssessmentPerformer in rpfa.citizen.earlierAssessmentPerformer track by $index">
          <div class="row"><label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
              <select class="form-control" ng-model="earlierAssessmentPerformer.id" ng-options="item for item in vardenhetOptions">
              </select>
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-primary" ng-click="sendRpfa()">Skicka</button>
        </div>

      </uib-tab>
      <uib-tab heading="Order">
        <h2>OrderAssessment</h2>
        <div class="row">
          <label class="col-sm-3 control-label">assessmentId</label>
          <div class="col-sm-6">
            <select class="form-control" ng-model="oa.assessmentId" ng-options="item for item in oa.assessmentIdOptions" ng-change="onAssessmentIdChanged()"></select>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" ng-click="refreshOaAssestmentIdOptions()">Uppdatera listan</button>
          </div>
        </div>

        <div class="row"><label class="col-sm-3 control-label">careUnitId</label><div class="col-sm-9"><input class="form-control" ng-model="oa.careUnitId"></div></div>
        <div class="row"><label class="col-sm-3 control-label">needForInterpreter</label><div class="col-sm-9"><input type="checkbox" ng-model="oa.needForInterpreter" ng-true-value="true" ng-false-value="false"></div></div>
        <div class="row"><label class="col-sm-3 control-label">interpreterLanguage</label><div class="col-sm-9"><input class="form-control" ng-model="oa.interpreterLanguage"></div></div>
        <div class="row"><label class="col-sm-3 control-label">comment</label><div class="col-sm-9"><input class="form-control" ng-model="oa.comment"></div></div>
        <div class="row"><label class="col-sm-3 control-label">lastDateForCertificateReceival</label><div class="col-sm-9"><input class="form-control" ng-model="oa.lastDateForCertificateReceival"></div></div>
        <div class="row"><label class="col-sm-3 control-label">documentsByPost</label><div class="col-sm-9"><input type="checkbox" ng-model="oa.documentsByPost" ng-true-value="true" ng-false-value="false"></div></div>
        <div class="row"><label class="col-sm-3 control-label">purpose</label><div class="col-sm-9"><input class="form-control" ng-model="oa.purpose"></div></div>
        <div class="row"><label class="col-sm-3 control-label">plannedActions</label><div class="col-sm-9"><input class="form-control" ng-model="oa.plannedActions"></div></div>

        <h4>Handläggare</h4>
        <div class="row"><label class="col-sm-3 control-label">fullName</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.fullName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">phoneNumber</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.phoneNumber"></div></div>
        <div class="row"><label class="col-sm-3 control-label">email</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.email"></div></div>
        <div class="row"><label class="col-sm-3 control-label">officeName</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.officeName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">officeCostCenter</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.officeCostCenter"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalAddress</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.postalAddress"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalCode</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.postalCode"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalCity</label><div class="col-sm-9"><input class="form-control" ng-model="oa.authorityAdministrativeOfficial.postalCity"></div></div>

        <h4>Invånare</h4>
        1.2.752.129.2.1.3.1 (personnummer) 1.2.752.129.2.1.3.3 (samordningsnummer)
        <div class="row"><label class="col-sm-3 control-label">personalIdentityRoot</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.personalIdentityRoot"></div></div>
        <div class="row"><label class="col-sm-3 control-label">personalIdentityExtension</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.personalIdentityExtension"></div></div>
        <div class="row"><label class="col-sm-3 control-label">firstName</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.firstName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">middleName</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.middleName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">lastName</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.lastName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">specialNeeds</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.specialNeeds"></div></div>
        <div class="row"><label class="col-sm-3 control-label">situationBackground</label><div class="col-sm-9"><input class="form-control" ng-model="oa.citizen.situationBackground"></div></div>

        <div>
          <button class="btn btn-primary" ng-click="sendOa()">Skicka</button>
        </div>

      </uib-tab>

      <uib-tab heading="UpdateOrder">
        <h2>UpdateOrder</h2>
        <div class="row">
          <label class="col-sm-3 control-label">assessmentId</label>
          <div class="col-sm-6">
            <select class="form-control" ng-model="uo.assessmentId" ng-options="item for item in uo.assessmentIdOptions"></select>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" ng-click="refreshUoAssestmentIdOptions()">Uppdatera listan</button>
          </div>
        </div>

        <div class="row"><label class="col-sm-3 control-label">needForInterpreter</label><div class="col-sm-9"><input type="checkbox" ng-model="uo.needForInterpreter" ng-true-value="true" ng-false-value="false"></div></div>
        <div class="row"><label class="col-sm-3 control-label">interpreterLanguage</label><div class="col-sm-9"><input class="form-control" ng-model="uo.interpreterLanguage"></div></div>
        <div class="row"><label class="col-sm-3 control-label">comment</label><div class="col-sm-9"><input class="form-control" ng-model="uo.comment"></div></div>
        <div class="row"><label class="col-sm-3 control-label">lastDateForCertificateReceival</label><div class="col-sm-9"><input class="form-control" ng-model="uo.lastDateForCertificateReceival"></div></div>
        <div class="row"><label class="col-sm-3 control-label">documentsByPost</label><div class="col-sm-9"><input type="checkbox" ng-model="uo.documentsByPost" ng-true-value="true" ng-false-value="false"></div></div>

        <h4>Handläggare</h4>
        <div class="row"><label class="col-sm-3 control-label">fullName</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.fullName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">phoneNumber</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.phoneNumber"></div></div>
        <div class="row"><label class="col-sm-3 control-label">email</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.email"></div></div>
        <div class="row"><label class="col-sm-3 control-label">officeName</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.officeName"></div></div>
        <div class="row"><label class="col-sm-3 control-label">officeCostCenter</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.officeCostCenter"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalAddress</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.postalAddress"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalCode</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.postalCode"></div></div>
        <div class="row"><label class="col-sm-3 control-label">postalCity</label><div class="col-sm-9"><input class="form-control" ng-model="uo.authorityAdministrativeOfficial.postalCity"></div></div>
        <div>
          <button class="btn btn-primary" ng-click="sendUpdateOrder()">Skicka</button>
        </div>

      </uib-tab>

      <uib-tab heading="Avvikelse">
        <h2>ReportDeviation</h2>

        <div class="row">
          <label class="col-sm-3 control-label">assessmentCareContactId</label>
          <div class="col-sm-6"><select class="form-control" ng-model="rd.assessmentCareContactId" ng-options="item for item in rd.assessmentCareContactIdOptions"></select></div>
          <div class="col-sm-3">
            <button class="btn btn-default" ng-click="refreshRdAssessmentCareContactIdOptions()">Uppdatera listan</button>
          </div>
        </div>
        <div class="row"><label class="col-sm-3 control-label">deviationId</label><div class="col-sm-9"><input class="form-control" ng-model="rd.deviationId"></div></div>
        <div class="row"><label class="col-sm-3 control-label">causedBy</label>
          <div class="col-sm-9">
            <select class="form-control" ng-model="rd.causedBy" ng-options="item for item in causedByOptions">
            </select>
          </div>
        </div>
        <div class="row"><label class="col-sm-3 control-label">description</label><div class="col-sm-9"><input class="form-control" ng-model="rd.description"></div></div>
        <div class="row"><label class="col-sm-3 control-label">deviationTime</label><div class="col-sm-9"><input class="form-control" ng-model="rd.deviationTime"></div></div>
        <div class="row"><label class="col-sm-3 control-label">citizenFailedToArrive</label><div class="col-sm-9"><input type="checkbox" ng-model="rd.citizenFailedToArrive" ng-true-value="true" ng-false-value="false"></div></div>

        <div>
          <button class="btn btn-primary" ng-click="sendRd()">Skicka</button>
        </div>

      </uib-tab>

      <uib-tab heading="Mottaget intyg">
        <h2>ReportCertificateReceival</h2>
        <div class="row">
          <label class="col-sm-3 control-label">assessmentId</label>
          <div class="col-sm-6">
            <select class="form-control" ng-model="rcr.assessmentId" ng-options="item for item in rcr.assessmentIdOptions"></select>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" ng-click="refreshRcrAssessmentIdOptions()">Uppdatera listan</button>
          </div>
        </div>

        <div class="row"><label class="col-sm-3 control-label">receivedDate</label><div class="col-sm-9"><input class="form-control" ng-model="rcr.receivedDate"></div></div>
        <div class="row"><label class="col-sm-3 control-label">lastDateForSupplementRequest</label><div class="col-sm-9"><input class="form-control" ng-model="rcr.lastDateForSupplementRequest"></div></div>

        <div>
          <button class="btn btn-primary" ng-click="sendRcr()">Skicka</button>
        </div>

      </uib-tab>

      <uib-tab heading="Begär komplettering">
        <h2>RequestSupplement</h2>
        <div class="row">
          <label class="col-sm-3 control-label">assessmentId</label>
          <div class="col-sm-6">
            <select class="form-control" ng-model="rs.assessmentId" ng-options="item for item in rs.assessmentIdOptions"></select>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" ng-click="refreshRsAssessmentIdOptions()">Uppdatera listan</button>
          </div>
        </div>

        <div class="row"><label class="col-sm-3 control-label">lastDateForSupplementReceival</label><div class="col-sm-9"><input class="form-control" ng-model="rs.lastDateForSupplementReceival"></div></div>

        <div>
          <button class="btn btn-primary" ng-click="sendRs()">Skicka</button>
        </div>

      </uib-tab>

    </uib-tabset>

    <div ng-if="resultat" class="form-group">
      <label class="col-sm-12">Resultat
        <div>{{resultat}}</div>
      </label>
    </div>

  </div>
</body>


</body>
</html>