bestallning-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;
  margin: 20px 0;

  ib-textfield, ib-dropdown, ib-date-range-picker {
    width: 150px;
    margin-right: 20px;
  }
}
