<div class="white-space-no-wrap">
    <button ng-if="correctFasId()"
            type="button"
            id="registreraMottagenBtn"
            class="btn btn-primary"
            ng-click="registerReceivedAction()"
            ng-disabled="registerReceivedDisabled()">
        <i class="material-icons">move_to_inbox</i> Registrera mottagen handling
    </button>
    <button ng-if="correctFasId()"
            type="button"
            id="registreraSkickat"
            class="btn btn-primary"
            ng-click="registerSent()"
            ng-disabled="registerSentDisabled()">
        <i class="material-icons">reply</i> Registrera skickat utlåtande
    </button>
</div>