.ib-header-unit-settings-dialog-window-class {

  .modal-dialog {
    width: 95vw;
    max-width: 800px;
  }
  .modal-body {
    max-height: 600px;
    overflow-y: auto;
    padding: 16px 16px;
  }
}

.ib-header-unit-settings-dialog-template {



    .material-icons {
      cursor: pointer;
    }


}