.ib-header-unit-settings-dialog-window-class {

  .modal-dialog {
    width: 650px;
  }
  .modal-body {
    max-height: 90vh;
    overflow-y: auto;
    padding: 16px 16px;
  }
}

.ib-header-unit-settings-dialog-template {

    .material-icons {
      cursor: pointer;
    }


}