ib-yes-no {

  .icon-container .ib-yes {
    display: inline-block;
    color: $ib-color-16;
    font-size: 16px;
    .material-icons {
      font-size: 16px;
    }
  }

  .icon-container .ib-no {
    display: inline-block;
    color: $ib-color-04;
    font-size: 16px;
    .material-icons {
      font-size: 16px;
    }
  }

}
