<ib-textfield
    id="filterFritext"
    model="filter.freetext"
    label-key="avslutade.utredningar.filter.fritext.label"
    max-length="255"
    on-change="onChange()"
    placeholder-key="avslutade.utredningar.filter.fritext.placeholder">
</ib-textfield>
<ib-date-range-picker
    id="filterAvslutsdatum"
    model="filter.avslutsDatum"
    on-change="onChange()"
    label-key="avslutade.utredningar.filter.avslutsdatum.label"
    placeholder-key="avslutade.utredningar.filter.avslutsdatum.placeholder">
</ib-date-range-picker>
<ib-dropdown
    class="thin"
    id="filterErsatts"
    ng-model="filter.ersatts"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.ersatts.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
    class="thin"
    id="filterFakturaVeId"
    ng-model="filter.fakturaVeId"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.fakturerad.ve.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
    class="thin"
    id="filterBetaldVeId"
    ng-model="filter.betaldVeId"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.betald.ve.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
    class="thin"
    id="filterFakturaFkId"
    ng-model="filter.fakturaFkId"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.fakturerad.fk.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
    class="thin"
    id="filterBetaldFkId"
    ng-model="filter.betaldFkId"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.betald.fk.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<button class="btn btn-primary" ng-click="resetFilter()" ng-disabled="filter.isDefault()">
  <message key="avslutade.utredningar.filter.resetfilter.label"></message>
</button>
<div class="flex-space"></div>
<button class="btn btn-primary" ng-click="excelReport()">
  <i class="material-icons md-18">file_download</i> Exportera till excel
</button>