<ib-textfield
    id="filterFritext"
    model="filter.freetext"
    label-key="avslutade.utredningar.filter.fritext.label"
    max-length="255"
    on-change="onChange()"
    placeholder-key="avslutade.utredningar.filter.fritext.placeholder">
</ib-textfield>
<ib-date-range-picker
    id="filterAvslutsdatum"
    model="filter.avslutsDatum"
    on-change="onChange()"
    label-key="avslutade.utredningar.filter.avslutsdatum.label"
    placeholder-key="avslutade.utredningar.filter.avslutsdatum.placeholder">
</ib-date-range-picker>
<ib-dropdown
    id="filterErsatts"
    ng-model="filter.ersatts"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.ersatts.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
        id="filterFakturerad"
        ng-model="filter.fakturerad"
        ng-change="onChange()"
        label-key="avslutade.utredningar.filter.fakturerad.label"
        items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
    id="filterUtbetald"
    ng-model="filter.betald"
    ng-change="onChange()"
    label-key="avslutade.utredningar.filter.betald.label"
    items="filter.yesNoOptions">
</ib-dropdown>
<ib-dropdown
        id="filterUtbetaldFk"
        ng-model="filter.utbetaldFk"
        ng-change="onChange()"
        label-key="avslutade.utredningar.filter.utbetaldfk.label"
        items="filter.yesNoOptions">
</ib-dropdown>
<button class="btn btn-primary" ng-click="resetFilter()" ng-disabled="filter.isDefault()">
  <message key="avslutade.utredningar.filter.resetfilter.label"></message>
</button>
<div class="flex-space"></div>
<button class="btn btn-primary" ng-click="excelReport()">
  <i class="material-icons md-18">file_download</i> Exportera till excel
</button>