<div class="ib-header-care-unit-dialog-template">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()">×</button>
    <h3>Välj vårdenhet eller arbetsplats att logga in på</h3>
  </div>

  <div class="modal-body">
    <wc-alert-message alert-severity="danger" ng-if="error">Tekniskt fel. Kunde inte byta vårdenhet.</wc-alert-message>

    <div ng-repeat="vg in vardgivare | orderBy:'namn'">
      <div class="row vardgivare">
        <div class="col-xs-5">{{vg.namn}}</div>
        <div class="col-xs-4">Ej hanterade frågor och svar</div>
        <div class="col-xs-3">Ej signerade utkast</div>
      </div>
      <div ng-repeat="enhet in vg.vardenheter | orderBy:'namn'">
        <div class="row vardenhet">
          <div class="col-xs-5">
            <i class="material-icons md-24" id="expand-enhet-{{enhet.id}}" ng-if="enhet.mottagningar.length > 0"
               ng-click="toggle(enhet)">{{enhet.showMottagning ? 'expand_less': 'expand_more'}}</i>
            <i ng-if="enhet.mottagningar.length === 0"></i>

            <button type="button" id="select-active-unit-{{enhet.id}}-modal" ng-disabled="isCurrentlySelected(enhet.id)"
                    class="btn btn-link" data-ng-click="selectVardenhet(enhet)">{{enhet.namn}}
              <span ng-if="isCurrentlySelected(enhet.id)"> (vald enhet)</span></button>

          </div>

          <div class="col-xs-4 enhet-stat" id="fraga-svar-stat-{{enhet.id}}">
            {{ findFragaSvar(vg.id, enhet.id) }} ({{ findAllFragaSvar(vg.id, enhet.id) }})
          </div>

          <div class="col-xs-3 enhet-stat" id="intyg-stat-{{enhet.id}}">
            {{ findIntyg(vg.id, enhet.id) }} ({{ findAllIntyg(vg.id, enhet.id) }})
          </div>

        </div>
        <div ng-if="enhet.showMottagning" ng-repeat="mottagning in enhet.mottagningar | orderBy:'namn'">
          <div class="row mottagning">
            <div class="col-xs-5">

              <button type="button" id="select-active-unit-{{mottagning.id}}-modal"
                      class="btn btn-link" data-ng-click="selectVardenhet(mottagning)"
                      ng-disabled="isCurrentlySelected(mottagning.id)">
                {{mottagning.namn}}
                <span ng-if="isCurrentlySelected(mottagning.id)"> (vald enhet)</span>
              </button>

            </div>
            <div class="col-xs-4 enhet-stat" id="fraga-svar-stat-{{mottagning.id}}">
              {{ findFragaSvar(vg.id, mottagning.id) }}
            </div>
            <div class="col-xs-3 enhet-stat" id="intyg-stat-{{mottagning.id}}">
              {{ findIntyg(vg.id, mottagning.id) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Avbryt</button>
  </div>
</div>
