@import '../ibAppHeader.variables.scss';

//local variables
$ib-header-unit-min-width: 150px;

ib-header-unit {
  //default is to act as a non-growing, shrinkable flex-item
  flex: 0 1 auto;
  @media (max-width: $ib-header-collapse-breakpoint-width) {
    //but in compact mode, let it grow
    flex-grow: 1;
  }

  //flex items must a some sort of width applied for it to be able to shrink
  //NOTE: when using min-width:0px (no unit), scss processing optimised it by
  // removing the unit, casuing rendering errorss in IE that doesnt handle unitless min-widths in flex context. took me 6 hours to find that ugh!
  min-width: $ib-header-unit-min-width;

  // but NOT a flex-container, bacause we want to be able to relativly position the menu below it when it expands..
  display: block;

  //base text color for this component
  color: $ib-color-20;

  .vg-name {
    @extend %ib-typo-06;
  }
  .ve-name {
    @extend %ib-typo-07;
  }
  .status-row {
    @extend %ib-typo-07;
    color: $ib-color-03;
  }

}
