<div class="timepicker-template">
  <div class="top flexrow">
    <div class="arrow" ng-click="incrementHours()"><i class="material-icons">keyboard_arrow_up</i></div>
    <div class="arrow" ng-click="incrementMinutes()"><i class="material-icons">keyboard_arrow_up</i></div>
  </div>
  <div class="middle flexrow">
    <div class="hours">{{ hours }}</div>
    <div class="seperator">:</div>
    <div class="minutes">{{ minutes }}</div>
  </div>
  <div class="bottom flexrow">
    <div class="arrow" ng-click="decrementHours()"><i class="material-icons">keyboard_arrow_down</i></div>
    <div class="arrow" ng-click="decrementMinutes()"><i class="material-icons">keyboard_arrow_down</i></div>
  </div>
</div>