<div class="visaUtredning-page ib-workarea">

  <ib-utredning-header utredning="utredning" utredning-vm="vm"></ib-utredning-header>

  <div class="ib-workarea-hflex-container centered-constrained-content" id="edit-{{utredning.utredningsId}}">

    <div class="bottom-fadeout-gradient bottom-fadeout-gradient__utredning ib-color-27">
      <div></div>
    </div>

    <div id="ib-content-container" class="ib-workarea-utredning container-fluid edit-form">
      <div ng-hide="viewState.error.key">
        <ib-spinner label="common.label.loading" show-spinner="vm.loading">
          <div id="utredning" class="row utredning">
            <div class="col-md-12 utredning-body">
              <card>
                <h3>Förfrågan</h3>
                <card-body>
                  <h4>Utredningstyp</h4>
                  <card-value>
                    {{utredning.utredningsTyp.label}}
                  </card-value>
                  <h4>Datum</h4>
                  <card-table>
                    <table class="table table-striped ib-table-striped">
                      <thead>
                        <tr>
                          <th>Inkom</th>
                          <th>Besvaras senast</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id="inkomDatum">{{utredning.inkomDatum}}</td>
                          <td id="besvarasSenastDatum">{{utredning.besvarasSenastDatum}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </card-table>
                </card-body>
              </card>
              <card>
                <h3>Invånare</h3>
                <card-body>
                  <h4>Bostadsort</h4>
                  <ib-card-value id="bostadsort" value="utredning.bostadsort"/>
                  <h4>Tidigare utredd</h4>
                  <card-value id="tidigareUtredd">
                    {{utredning.tidigareUtredd | ibBoolFilter}}<span ng-if="utredning.tidigareEnheter">, vid {{utredning.tidigareEnheter}}</span>
                    <ib-alert-message alert-id="felaktiga-enheter"
                                      alert-severity="danger"
                                      ng-if="utredning.felaktigaEnheter">
                      Felaktig enhet(er): {{utredning.felaktigaEnheter}}
                    </ib-alert-message>
                  </card-value>
                </card-body>
              </card>
              <card>
                <h3>Meddelande</h3>
                <card-body>
                  <h4>Behov av tolk</h4>
                  <ib-card-value id="behovAvTolk" value="utredning.behovAvTolk"/>
                  <h4>Särskilda behov</h4>
                  <ib-card-value id="sarskildaBehov" value="utredning.sarskildaBehov"/>
                  <h4>Andra kommentarer</h4>
                  <ib-card-value id="kommentar" value="utredning.kommentar" empty-text="Inga kommentarer från handläggaren"/>
                </card-body>
              </card>
              <card>
                <h3>Handläggare</h3>
                <card-body>
                  <h4>Kontaktuppgifter</h4>
                  <ib-card-value id="handlaggarKontaktUppgifter" value="utredning.handlaggarKontaktUppgifter"/>
                </card-body>
              </card>
            </div>
          </div>
        </ib-spinner>
      </div>
    </div>

    <div class="ib-workarea-supportpanel">

      <uib-tabset active="active" class="flex-column">
        <uib-tab index="0" heading="Förfrågan">
          <ib-utredning-forfragan utredning="utredning" utredning-vm="vm"></ib-utredning-forfragan>
        </uib-tab>
        <uib-tab index="1" heading="Händelser">
          <ib-utredning-handelser utredning="utredning"></ib-utredning-handelser>
        </uib-tab>
      </uib-tabset>

    </div>

  </div>
</div>
