.visaUtredning-page {

  .utredning-body {
    min-height: 1400px;
    background-color: #00adee;
  }

  .ib-workarea-supportpanel {
    .forfragan-test {
      min-height: 1400px;
      background-color: #3c763d;
    }
  }
}
