<div class="visaUtredning-page">

  <ib-utredning-header utredning-view-state="utredningViewState"></ib-utredning-header>

  <div class="ib-workarea-hflex-container centered-constrained-content" id="edit-{{viewState.utredningId}}">

    <div class="bottom-fadeout-gradient ib-color-27">
      <div></div>
    </div>

    <div id="ib-content-container" class="ib-workarea-utredning container-fluid edit-form">
      <div ng-hide="viewState.error.key">
        <ib-spinner label="info.loadingintyg" show-spinner="!viewState.common.doneLoading">
          <div id="utredning" class="row utredning">
            <div class="col-md-12 utredning-body">
              <card>
                <h2>title</h2>
                <card-body>
                  <card-value>
                    body
                  </card-value>
                </card-body>
              </card>
            </div>
          </div>
        </ib-spinner>
      </div>
    </div>

    <div class="ib-workarea-supportpanel">
      <ul class="support-tabs">
        <li ng-repeat="tab in config.tabs" role="presentation" ng-class="{'active': tab.active}">
          <a href ng-click="onSelect(tab, $event)"
             ng-attr-id="{{::'tab-link-' + tab.id}}"
             uib-popover="{{::getText(tab.tooltip)}}"
             popover-trigger="mouseenter"
             popover-placement="auto top">
            <i data-ng-if="tab.icon" class="material-icons">{{::tab.icon}}</i>
            <span dynamic-label key="{{::tab.title}}"></span>
          </a>
        </li>
      </ul>

      <div class="tab-content-container" ng-repeat="tab in config.tabs" ng-show="tab.active">
        <wc-support-panel-component-renderer component-name="{{tab.id}}" config="tab.config"></wc-support-panel-component-renderer>
      </div>
    </div>

  </div>
</div>
