<div id="redovisa-besok-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="$dismiss()"><i class="material-icons">close</i></button>
    <h4 class="modal-title">Redovisa besök</h4>
  </div>
  <div class="modal-body">
    <p><message key="redovisaBesok.info" class="nl2br"></message></p>
    <form name="redovisaBesokForm" novalidate autocomplete="off">
      <table class="table table-striped ib-table-striped">
        <thead>
          <tr>
            <th>Besökstid</th>
            <th>Profession</th>
            <th>Tolkens deltagande</th>
            <th>Status för besök</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="besok in vm.besokList track by $index">
            <td>
              {{::besok.besokDatum}} {{::besok.besokStartTid}} - {{::besok.besokSlutTid}}
            </td>
            <td>
              {{::besok.professionLabel}}
            </td>
            <td>
              <div ng-if="besok.tolkStatus.selected !== 'EJ_BOKAT'" class="tolk-status">
                <span ng-if="besok.genomfort && besok.tolkStatus.selected !== 'EJ_DELTAGIT' && besok.tolkStatus.selected !== 'DELTAGIT'" class="asterisk">*</span>
                <ib-radiogroup id="redovisa-besok-modal-{{$index}}"
                               model="besok.tolkStatus"
                               on-change="validate()"
                               items="vm.deltarItems"
                               items-disabled="besok.disabledDeltarItems"
                               disabled-tooltip-key="redovisa.redanskickad.tooltip"></ib-radiogroup>
              </div>
            </td>
            <td>
              <ib-checkbox-wrapper>
                <input id="{{::besok.besokId}}-genomfort-{{$index}}"
                       type="checkbox"
                       ng-model="besok.genomfort"
                       ng-true-value="true" ng-false-value="false"
                       ng-disabled="besok.besokStatus === 'GENOMFORT'">
                <label for="{{::besok.besokId}}-genomfort-{{$index}}">Genomfört</label>
              </ib-checkbox-wrapper>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">

    <div>
      <div ng-if="vm.showValidationErrorMessage" class="validation-error">
        <message key="redovisabesok.error.validation"></message>
      </div>

      <ib-alert-message ng-if="vm.showSaveErrorMessage" alert-id="redovisabesok.error.teknisktfel" alert-severity="danger">
        <message key="redovisaBesok.error.teknisktfel"></message> {{vm.saveErrorBesok.besokDatum}} {{vm.saveErrorBesok.besokStartTid}}
      </ib-alert-message>
    </div>

    <ib-button btn-id="redovisa-besok-modal-skicka"
               btn-class="btn btn-primary"
               busy="vm.inProgress"
               btn-click="send()"
               ng-disabled="redovisaBesokForm.$invalid">
      <span message key="common.confirm"></span>
    </ib-button>

    <button type="button" id="redovisa-besok-modal-cancel" class="btn btn-default" ng-click="$dismiss()">
      <span message key="common.cancel"></span>
    </button>
  </div>
</div>
