<div class="container listaUtredningar-page">

  <utredning-filter></utredning-filter>

  <span id="samordnare-lista-utredningar-resulttext">Sökresultat: {{utredningar.length}} av {{utredningarTotal}} beställningar</span>

  <table id="samordnare-lista-utredningar-table" class="table table-striped ib-table-striped">
    <thead>
      <tr>
        <th ib-table-head label-key="label.table.utredningar.column.id"></th>
        <th ib-table-head label-key="label.table.utredningar.column.typ"></th>
        <th ib-table-head label-key="label.table.utredningar.column.vardenhet"></th>
        <th ib-table-head label-key="label.table.utredningar.column.fas"></th>
        <th ib-table-head label-key="label.table.utredningar.column.slutdatumfas"></th>
        <th ib-table-head label-key="label.table.utredningar.column.status"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in utredningar">
        <td>{{::row.utredningsId}}</td>
        <td>{{::row.utredningsTyp}}</td>
        <td>{{::row.vardgivareNamn}}</td>
        <td>{{::row.fas}}</td>
        <td><ib-utredning-slutdatum-fas fas="::row.fas" slutdatum="::row.slutdatumFas"></ib-utredning-slutdatum-fas></td>
        <td><ib-utredning-status status="::row.status"></ib-utredning-status></td>
        <td><button class="btn btn-primary">Visa</button></td>
      </tr>
    </tbody>
  </table>

  <div id="samordnare-lista-utredningar-no-results" ng-if="!utredningar.length">
    Inget resultat hittades för den valda filtreringen. Överväg att ändra filtreringen för att utöka resultatet.
  </div>

</div>