<div class="listaUtredningar-page">

  <utredning-filter filter="filter" filter-changed="getUtredningarFiltered()"></utredning-filter>

  <ib-spinner show-spinner="busy && !utredningar.length" label="label.table.utredningar.loading">

    <span id="samordnare-lista-utredningar-resulttext">Sökresultat: {{utredningar.length}} av {{utredningarTotal}} beställningar</span>

    <table id="samordnare-lista-utredningar-table" class="table table-striped ib-table-striped">
      <thead>
        <tr>
          <th ib-table-head filter="filter" filter-changed="getUtredningarFiltered()" order-by-key="utredningsId" label-key="label.table.utredningar.column.id"></th>
          <th ib-table-head filter="filter" filter-changed="getUtredningarFiltered()" order-by-key="utredningsTyp" label-key="label.table.utredningar.column.typ"></th>
          <th ib-table-head filter="filter" filter-changed="getUtredningarFiltered()" order-by-key="vardenhetNamn" label-key="label.table.utredningar.column.vardenhet"></th>
          <th ib-table-head filter="filter" filter-changed="getUtredningarFiltered()" order-by-key="fas" label-key="label.table.utredningar.column.fas"></th>
          <th ib-table-head filter="filter" filter-changed="getUtredningarFiltered()" order-by-key="slutdatumFas" label-key="label.table.utredningar.column.slutdatumfas"></th>
          <th ib-table-head filter="filter" filter-changed="getUtredningarFiltered()" order-by-key="status" label-key="label.table.utredningar.column.status"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in utredningar">
          <td>{{::row.utredningsId}}</td>
          <td>{{::row.utredningsTyp.label}}</td>
          <td>{{::row.vardenhetNamn}}</td>
          <td>{{::row.fas.label}}</td>
          <td><ib-utredning-slutdatum-fas fas="::row.fas" slutdatum="::row.slutdatumFas" slutdatum-passerat="::row.slutdatumFasPasserat" slutdatum-pa-vag-passeras="::row.slutdatumFasPaVagPasseras"></ib-utredning-slutdatum-fas></td>
          <td><ib-utredning-status status="::row.status" kraver-atgard="::row.kraverAtgard"></ib-utredning-status></td>
          <td><button class="btn btn-primary" ng-click="visaUtredning(row.utredningsId)"><span message key="common.show"></span></button></td>
        </tr>
      </tbody>
    </table>

    <div>
      <ib-button btn-id="samordnare-lista-uredningar-getmore"
                 btn-class="btn btn-primary"
                 btn-click="getMore()"
                 busy="busy"
                 ng-if="utredningarTotal > utredningar.length">
        <message key="common.more.results"></message>
      </ib-button>
    </div>

    <div id="samordnare-lista-utredningar-no-results" ng-if="!utredningar.length">
      <span message key="common.no.results"></span>
    </div>

  </ib-spinner>

</div>
