<div class="container pagaendeUtredningar-page">
  <bestallning-filter filter="filter" filter-changed="getBestallningarFiltered()"></bestallning-filter>

  <span id="samordnare-lista-bestallningar-resulttext">Sökresultat: {{bestallningar.length}} av {{bestallningarTotal}} beställningar</span>

  <table id="samordnare-lista-bestallningar-table" class="table table-striped ib-table-striped">
    <thead>
    <tr>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="utredningsId" label-key="label.table.bestallningar.column.id"></th>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="utredningsTyp" label-key="label.table.bestallningar.column.typ"></th>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="vardgivareNamn" label-key="label.table.bestallningar.column.vardgivareNamn"></th>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="patientId" label-key="label.table.bestallningar.column.patientId"></th>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="patientNamn" label-key="label.table.bestallningar.column.patientNamn"></th>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="slutdatumFas" label-key="label.table.bestallningar.column.slutdatumfas"></th>
      <th ib-table-head filter="filter" filter-changed="getBestallningarFiltered()" order-by-key="status" label-key="label.table.bestallningar.column.status"></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in bestallningar">
      <td>{{::row.utredningsId}}</td>
      <td>{{::row.utredningsTyp}}</td>
      <td>{{::row.vardgivareNamn}}</td>
      <td>{{::row.patientId}}</td>
      <td>{{::row.patientNamn}}</td>
      <td><ib-bestallning-slutdatum-fas slutdatum-passerat="::row.slutdatumPasserat" slutdatum-pa-vag-passeras="::row.slutdatumPaVagPasseras" slutdatum-fas="::row.slutdatumFas"></ib-bestallning-slutdatum-fas></td>
      <td><ib-bestallning-status status="::row.status" kraver-atgard="::row.kraverAtgard"></ib-bestallning-status></td>
      <td><button class="btn btn-primary"><span message key="common.show"></span></button></td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary"
          ng-click="getMore()"
          ng-if="bestallningarTotal > bestallningar.length">
    <message key="common.more.results"></message>
  </button>

  <div id="samordnare-lista-bestallningar-no-results" ng-if="!bestallningar.length">
    <span message key="common.no.results"></span>
  </div>
</div>
