<div class="single-tab-workarea">
  <div class="single-tab-content">
    <h3>Svar på förfrågan</h3>

    <ib-alert-message alert-id="internforfragan-accepterad-alert" alert-severity="success"
                      ng-if="vm.model.svarTyp === 'ACCEPTERA'">
      Förfrågan accepterades
    </ib-alert-message>

    <ib-alert-message alert-id="internforfragan-avbojd-alert" alert-severity="success"
                      ng-if="vm.model.svarTyp === 'AVBOJ'">
      Förfrågan avvisades
    </ib-alert-message>


    <card-modal>

      <div ng-if="vm.model.svarTyp === 'ACCEPTERA'">
        <ib-help-text-label label-key="internforfragan.besvara.form.borjadatum.label"></ib-help-text-label>
        <card-value>
          {{vm.model.borjaDatum}}
        </card-value>
        <ib-help-text-label label-key="internforfragan.besvara.form.utforaretyp.view.label"></ib-help-text-label>
        <card-value>
          <span ng-switch="vm.model.utforareTyp">
            <span ng-switch-when="UNDERLEVERANTOR">Underleverantör</span>
            <span ng-switch-default>Vårdenhet</span>
          </span>
        </card-value>
        <ib-help-text-label label-key="internforfragan.besvara.form.kontaktinformation.label"></ib-help-text-label>
        <card-value class="wide">
          {{vm.model.utforareNamn}}<br>
          {{vm.model.utforareAdress}}<br>
          {{vm.model.utforarePostnr}} {{vm.model.utforarePostort}}<br>

          {{vm.model.utforareTelefon}}<br>
          {{vm.model.utforareEpost}}<br>
        </card-value>
      </div>

      <ib-help-text-label label-key="internforfragan.besvara.form.kommentar.label"></ib-help-text-label>
      <card-value class="wide">
        {{vm.model.kommentar}}<br>

      </card-value>

    </card-modal>
  </div>
</div>