<div class="modal-header">
  <button type="button" class="close" ng-click="$close()">×</button>
  <h3>Alla händelser</h3>
</div>
<ib-bottom-fadeout>
  <div class="modal-body">
    <div ng-repeat="status in statuses">
      {{status.timestamp | date : 'yyyy-MM-dd HH:mm'}}
      <ib-utredning-status-modal-link source="status.text"></ib-utredning-status-modal-link>
    </div>
  </div>
</ib-bottom-fadeout>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" id="confirmationOkButton" ng-click="$close()">Stäng</button>
</div>
