<div>

  <ib-spinner show-spinner="veModel.loading" label="common.label.loading">

    <ib-alert-message alert-severity="success">Förfrågan accepterades.</ib-alert-message>

    <ib-alert-message alert-id="skicka-forfragan-vardenheter-error"
                      alert-severity="danger"
                      alert-message-id="{{veModel.error}}"
                      ng-if="veModel.error"></ib-alert-message>

    <div class="table-actionbar" ng-show="showForfraganButtons()">
      <button class="btn btn-primary" id="skicka-forfragan-button" ng-click="skickaForfragan()" ng-disabled="disableForfraganButtons()">Skicka förfrågan</button>
      <button class="btn btn-primary" id="tilldela-direkt-button" ng-click="tilldelaDirekt()" ng-show="showTilldelaDirekt()" ng-disabled="disableForfraganButtons()">Tilldela direkt</button>
    </div>

    <table id="samordnare-utredning-forfragan-table" class="table table-striped ib-table-striped">
      <thead>
        <tr>
          <th ib-table-head label-key="label.table.utredning.forfragningar.column.vardenhet"></th>
          <th ib-table-head label-key="label.table.utredning.forfragningar.column.status"></th>
          <th ib-table-head label-key="label.table.utredning.forfragningar.column.mojligtstartdatum"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="utredning.internForfraganList.length == 0">
          <td colspan="4" id="internforfragan-no-results">Förfrågan har inte skickats till några vårdenheter än.</td>
        </tr>
        <tr ng-repeat="row in utredning.internForfraganList">
          <td>{{::row.vardenhetNamn}}<br>
            <ib-expand label="vårdenhetens detaljer">
              <h3>Meddelande</h3>
              <card-value>
                {{::row.meddelande}}
              </card-value>
              <h3>Kontaktinformation</h3>
              <card-value>
                {{::row.vardenhetNamn}}<br>
                {{::row.adress}}<br>
                {{::row.postkod}} {{::row.postort}}<br>
                {{::row.telefon}}<br>
                {{::row.epost}}
              </card-value>
            </ib-expand>
          </td>
          <td><i ng-if="row.status.id == 'TILLDELAD_VANTAR_PA_BESTALLNING'" class="material-icons accept">check_circle</i> {{::row.status.label}}</td>
          <td>{{::row.borjaDatum}}</td>
          <td><button class="btn btn-primary" ng-click="selectForfragan(row.utredningsId)" data-ng-disabled="true"><span message key="common.select"></span></button></td>
        </tr>
      </tbody>
    </table>

  </ib-spinner>

</div>
