<div id="skicka-forfragan-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="$dismiss()">×</button>
    <h4 class="modal-title">Skicka förfrågan</h4>
  </div>
  <div class="modal-body">

    <div ng-switch="vm.hasVardenheter">
      <div ng-switch-when="false">
        <ib-alert-message alert-id="skicka-forfragan-modal-vardenheter-no-results"
                          alert-message-id="skicka.forfragan.vardenheter.no.results"
                          alert-severity="warning"></ib-alert-message>
      </div>
      <div ng-switch-when="true" ng-class="{ 'validation-error' : vm.vardenheterValidationError }">

          <p><span message key="skicka.forfragan.vardenheter.heading"></span></p>

          <ib-checkgroup id="skicka-forfragan-modal-vardenheter-eget-landsting"
                         ng-if="vm.vardenheter.egetLandsting.length > 0"
                         class="form-group"
                         label-key="skicka.forfragan.egna.label"
                         model="vm.selectedVardenheter"
                         on-change="vardenheterChanged()"
                         items="vm.vardenheter.egetLandsting"
                         items-disabled="vm.disabledVardenheter"
                         disabled-tooltip-key="skicka.forfragan.redanskickad.tooltip"></ib-checkgroup>

          <ib-checkgroup id="skicka-forfragan-modal-vardenheter-annat-landsting"
                         ng-if="vm.vardenheter.annatLandsting.length > 0"
                         class="form-group"
                         label-key="skicka.forfragan.annat.label"
                         model="vm.selectedVardenheter"
                         on-change="vardenheterChanged()"
                         items="vm.vardenheter.annatLandsting"
                         items-disabled="vm.disabledVardenheter"
                         disabled-tooltip-key="skicka.forfragan.redanskickad.tooltip"></ib-checkgroup>

          <ib-checkgroup id="skicka-forfragan-modal-vardenheter-privat"
                         ng-if="vm.vardenheter.privat.length > 0"
                         class="form-group"
                         label-key="skicka.forfragan.privat.label"
                         model="vm.selectedVardenheter"
                         on-change="vardenheterChanged()"
                         items="vm.vardenheter.privat"
                         items-disabled="vm.disabledVardenheter"
                         disabled-tooltip-key="skicka.forfragan.redanskickad.tooltip"></ib-checkgroup>

          <ib-textarea id="skicka-forfragan-modal-meddelande"
                       class="form-group"
                       label-key="skicka.forfragan.meddelande.label"
                       help-key="skicka.forfragan.meddelande.help"
                       placeholder-text="{{'skicka.forfragan.meddelande.placeholder' | message}}"
                       model="vm.meddelande"></ib-textarea>

      </div>

    </div>

    <div class="validation-erorr-message" id="skicka-forfragan-validation" ng-if="vm.vardenheterValidationError">
      <message key="skicka.forfragan.vardenheter.validation"></message>
    </div>

  </div>
  <div class="modal-footer">
    <ib-button btn-id="skicka-forfragan-modal-skicka"
               btn-class="btn btn-primary"
               busy="vm.inProgress"
               btn-click="skicka()"
               btn-disabled="!skickaEnabled()">
      Skicka förfrågan
    </ib-button>
    <button type="button" id="skicka-forfragan-modal-cancel" class="btn btn-default" ng-click="$dismiss()">
      <span message key="common.cancel"></span>
    </button>
  </div>
</div>
