<div class="avslutadeArenden-page">

  <avslutade-utredningar-filter filter="filter" filter-changed="getAvslutadeUtredningarFiltered()"></avslutade-utredningar-filter>

  <ib-spinner show-spinner="busy && !utredningar.length" label="label.table.avslutade.utredningar.loading">

    <span id="samordnare-lista-avslutade-utredningar-resulttext">Sökresultat: {{utredningar.length}} av {{utredningarTotal}} beställningar</span>

    <table id="samordnare-lista-avslutade-utredningar-table" class="table table-striped ib-table-striped">
      <thead>
      <tr>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="utredningsId" label-key="label.table.avslutade.utredningar.column.id"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="utredningsTyp" label-key="label.table.avslutade.utredningar.column.typ"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="vardenhetNamn" label-key="label.table.avslutade.utredningar.column.vardenhetNamn"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="status" label-key="label.table.avslutade.utredningar.column.status"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="avslutsDatum" label-key="label.table.avslutade.utredningar.column.avslutsdatum"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="ersatts" label-key="label.table.avslutade.utredningar.column.ersatts"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="fakturaVeId" label-key="label.table.avslutade.utredningar.column.faktura.ve"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="betaldVeId" label-key="label.table.avslutade.utredningar.column.betald.ve"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="fakturaFkId" label-key="label.table.avslutade.utredningar.column.faktura.fk"></th>
        <th ib-table-head filter="filter" filter-changed="getAvslutadeUtredningarFiltered()" order-by-key="betaldFkId" label-key="label.table.avslutade.utredningar.column.betald.fk"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in utredningar">
        <td>{{::row.utredningsId}}</td>
        <td>{{::row.utredningsTyp.label}}</td>
        <td>{{::row.vardenhetNamn}}</td>
        <td>{{::row.status.label}}</td>
        <td>{{::row.avslutsDatum}}</td>
        <td><ib-yes-no value="::row.ersatts"></ib-yes-no></td>
        <td><ib-inline-edit editable="false" model="::row.fakturaVeId"></ib-inline-edit></td>
        <td><ib-inline-edit editable="true" model="::row.betaldVeId" save-method="saveBetald(row, model)" busy="row.betaldBusy"></ib-inline-edit></td>
        <td><ib-inline-edit editable="true" model="::row.fakturaFkId" save-method="saveFakturaFkId(row, model)" busy="row.fakturaFkIdBusy"></ib-inline-edit></td>
        <td><ib-inline-edit editable="true" model="::row.betaldFkId" save-method="saveUtbetald(row, model)" busy="row.utbetaldBusy"></ib-inline-edit></td>
        <td><button class="btn btn-primary" ng-click="visaUtredning(row.utredningsId)"><span message key="common.show"></span></button></td>
      </tr>
      </tbody>
    </table>

    <ib-button btn-id=""
               btn-class="btn btn-primary"
               btn-click="getMore()"
               busy="busy"
               ng-if="utredningarTotal > utredningar.length">
      <message key="common.more.results"></message>
    </ib-button>

    <div id="samordnare-lista-avslutade-utredningar-no-results" ng-if="!utredningar.length">
      <span message key="common.no.results"></span>
    </div>

  </ib-spinner>

</div>
