<div class="ib-footer centered-constrained-content container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-5">
      <h3>Intygsbeställning är en tjänst som drivs av Inera AB.</h3>
      <p>Box 11703, 118 93 Stockholm<br>
        <span dynamiclink key="ineraHomepage"></span>
      </p>
    </div>

    <div class="col-xs-12 col-sm-3">
      <h3>Kundtjänst</h3>
      <p>Tel 0771 - 25 10 10<br>
        <span dynamiclink key="ineraContactAndSupport"></span></p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h3>Läs mer om inloggningen</h3>
      <p><a ng-click="openInfoDialog($event, 'omsiths')">SITHS-kort</a></p>

    </div>

  </div>

</div>