.login-page {
  overflow: auto;

  .login-body {
    flex:1 0 auto;
  }
  .welcome-image {
    width: 100%;
    padding-bottom: 20px;
  }

  @media (max-width: $screen-sm-max) {
    .btn-primary {
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}