<div class="ib-vardenhet-selector">

  <div ng-repeat="vg in model.vardgivare | orderBy:'name'">

    <!-- vg row -->
    <div class="row vg">
      <div class="col-xs-7">
        <!--  only enable selection if vg is samordnare -->
         <span ng-if="!selectableVG(vg)">
            <span class="plain-vg">{{::vg.name}}</span>
         </span>
         <a ng-if="selectableVG(vg)" id="ib-vardenhet-selector-select-active-unit-{{vg.id}}-link" href ng-click="itemSelected(vg)">
          {{::vg.name}}
         </a>
         <span ng-if="vg.id == model.currentlyLoggedInAt.id"> (nuvarande) </span>

      </div>
      <div class="col-xs-4">
        <span ng-if="vg.samordnare">Samordnare</span>
      </div>

      <span ng-click="vg.expanded = !vg.expanded" ng-attr-id="expand-vg-{{vg.id}}" class="col-xs-1 toggler">
          <span ng-if="vg.vardenheter.length > 0 && vg.expanded"><i class="material-icons md-24">expand_less</i></span>
          <span ng-if="vg.vardenheter.length > 0 && !vg.expanded"><i class="material-icons md-24">expand_more</i></span>
        </span>
    </div>

    <!-- ve row(s) -->
    <div ng-if="vg.expanded" ng-repeat="enhet in vg.vardenheter | orderBy:'name'" class="row ve">

      <div class="col-xs-7">
        <!--span ng-if="enhet.mottagningar.length > 0" class="toggle-icon" id="expand-enhet-{{::enhet.id}}" ng-click="enhet.expanded = ! enhet.expanded">
          <span class="glyphicon" ng-class="enhet.expanded ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
        </span>
        <span ng-if="enhet.mottagningar.length < 1" class="glyphicon glyphicon-chevron-up glyphicon-hide"></span-->

        <span ng-if="enhet.id == model.currentlyLoggedInAt.id">
          <span class="enhet">{{::enhet.name}}</span> (nuvarande)
        </span>
        <a ng-if="enhet.id != model.currentlyLoggedInAt.id" class="enhet"
            id="ib-vardenhet-selector-select-active-unit-{{enhet.id}}-link" href ng-click="itemSelected(enhet)">
          {{enhet.name}}
        </a>
      </div>
      <div class="col-xs-4">
          <span>Vårdadministratör</span>
      </div>

    </div>

  </div>
</div>
