.ib-vardenhet-selector {

  .vardgivare-title {
    @extend %ib-typo-05;
    background: $ib-color-20;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  a,
  .active-enhet {
    padding: 5px 0;
    display: inline-block;
  }

  .active-enhet {
    color: $ib-color-03;
    vertical-align: baseline;
    cursor: default;
  }

  .toggle-icon {
    color: $ib-color-10;
    cursor: pointer;
  }

  .enhet {
    margin-left: 20px;
  }

  .mottagning {
    margin-left: 60px;
  }

  .glyphicon-hide {
    color: transparent;
  }
}
