<div id="registrera-status-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" data-ng-click="$dismiss()"><i class="material-icons">close</i>
        </button>
        <h4 class="modal-title">{{ titleKey | message }}</h4>
    </div>
    <div class="modal-body">
        <span class="label-margin">
            <p>{{ infoKey | message }}</p>
        </span>
        <form>
            <ib-date-picker-field
                    target-model="registerValue"
                    format="yyyy-MM-dd"
                    date-format-error="Korrekt datum måste anges."
                    ib-date-picker-field
                    append-to-body="true"
                    add-date-parser="strict">
            </ib-date-picker-field>
        </form>
    </div>
    <div class="modal-footer button-flex-wrapper">
        <ib-button btn-id="register-status-modal-sent-btn"
                   btn-class="btn btn-primary button-margin"
                   btn-click="save()"
                   btn-disabled="correctDate()"
                   busy="vm.busySaving"
        >
            <span message key="common.save"></span>
        </ib-button>
        <button type="button" id="register-status-modal-cancel" class="btn btn-default" ng-click="$dismiss()">
            <span message key="common.cancel"></span>
        </button>
    </div>
</div>