<div class="modal-header">
  <button type="button" class="close" data-ng-click="$dismiss()"><i class="material-icons">close</i></button>
  <h3>Ta bort vårdenhet</h3>
</div>

<div class="modal-body">
  <p>Om du tar bort vårdenheten kommer du inte längre kunna skicka förfrågningar till vårdenheten.</p>

  <p>Är du säker på att du vill ta bort vårdenheten?</p>

</div>

<div class="modal-footer">
  <button class="btn btn-primary"
          id="delete-enhet-confirm-btn"
          ng-click="onConfirmDelete()">
    <span message key="common.confirm"></span>
  </button>
  <button class="btn btn-default" id="edit-enhet-cancel-btn"
          ng-click="$dismiss()">
    <span message key="common.cancel"></span>
  </button>
</div>
