<div id="avsluta-utredning-modal" class="bestallning-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" data-ng-click="$dismiss()"><i class="material-icons">close</i>
        </button>
        <h4 class="modal-title">Utredningen avslutad</h4>
    </div>
    <div class="modal-body">
        <span class="label-margin">
            <p>Utredningen är nu avslutad.</p>
        </span>
    </div>
    <div class="modal-footer button-flex-wrapper">
        <button type="button" id="abort-utredning-modal-cancel" class="btn btn-default" ng-click="$dismiss()">
            <span message key="common.close"></span>
        </button>
    </div>
</div>