<div id="avvikelse-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="$dismiss()"><i class="material-icons">close</i></button>
    <h4 class="modal-title">Rapportera avvikelse</h4>
  </div>
  <div class="modal-body">
    <ib-alert-message alert-id="avvikelse-info" alert-message-id="avvikelse.info" alert-severity="info"></ib-alert-message>

    <form name="avvikelseForm" novalidate autocomplete="off">
      <table>
        <tr>
          <td>
            <ib-help-text-label label-key="avvikelse.label.orsakadav"></ib-help-text-label>
          </td>
          <td>
            <div class="row">
              <span class="col-md-6">
                <ib-dropdown id="orsakatAv" ng-model="avvikelse.orsakatAv" ng-change="onChange()"
                             items="orsakList">
                </ib-dropdown>
              </span>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <ib-help-text-label label-key="avvikelse.label.invanareuteblev"></ib-help-text-label>
          </td>
          <td>
            <ib-checkbox-wrapper>
              <input type="checkbox" ng-model="avvikelse.invanareUteblev" ng-true-value="true" ng-false-value="false">
              <label></label>
            </ib-checkbox-wrapper>
          </td>
        </tr>

        <tr>
          <td>
            <ib-help-text-label required="true" required-expr="!(avvikelse.datum && avvikelse.tid)" label-key="avvikelse.label.datum"></ib-help-text-label>
          </td>
          <td>
            <ib-date-picker-field target-model="avvikelse.datum"
                                  ib-date-picker-field
                                  required="true"
                                  append-to-body="true"
                                  add-date-parser="strict"
                                  format="yyyy-MM-dd"
                                  date-format-error="Ogiltigt datumformat, ange ett datum som ÅÅÅÅ-MM-DD"
                                  min-date-error="Möjligt startdatum får tidigast vara dagens datum"
                                  max-date-error="Möjligt kallelsedatum får inte vara efter besöksdatum"
                                  max-date="{{ maxDate }}">
            </ib-date-picker-field>
            <message key="avvikelse.label.tid"></message>
            <ib-time-picker required="true" data-date="avvikelse.tid"></ib-time-picker>
          </td>
        </tr>

        <tr>
          <td class="top-align">
            <ib-help-text-label label-key="avvikelse.label.kommentar"></ib-help-text-label>
          </td>
          <td>
            <ib-textarea
                id="beskrivning"
                model="avvikelse.beskrivning"
                required="false"
                placeholder-text="Frivilligt"
                max-length="255"
                col-size="12">
            </ib-textarea>
          </td>
        </tr>

      </table>
    </form>
  </div>
  <div class="modal-footer">

    <ib-alert-message ng-if="showSaveErrorMessage" alert-message-id="avvikelse.error.teknisktfel"
                      alert-id="avvikelse.error.teknisktfel" alert-severity="danger"></ib-alert-message>

    <button type="button" id="avvikelse-modal-skicka" class="btn btn-primary" ng-click="send()" data-ng-disabled="avvikelseForm.$invalid || !avvikelse.datum || !avvikelse.tid">
      Spara
    </button>
    <button type="button" id="avvikelse-modal-cancel" class="btn btn-default" ng-click="$dismiss()">
      <span message key="common.cancel"></span>
    </button>
  </div>
</div>
