<div class="ib-besok-wrapper">
  <div class="table-actionbar">
    <button class="btn btn-success" ng-click="oppnaLaggTillBesok()" ng-disabled="hanteraBesokDisabled()">Lägg till besök
    </button>
    <ib-popover-wrapper popover-text="Inga besök har genomförts än"
                        popover-enable="!isRedovisaBesokEnabled()">
      <button class="btn btn-primary"
              ng-click="oppnaRedovisaBesok()"
              data-ng-disabled="!isRedovisaBesokEnabled()">Redovisa besök</button>
    </ib-popover-wrapper>
  </div>

  <div class="ib-besoklist-empty" ng-if="bestallning.besokList == 0">
    <img src="/app/vardadmin/visaBestallning/ibBesok/inga_besok.svg">
    Inga besök finns inlagda än
  </div>

  <table id="samordnare-utredning-handelser-table" class="table table-striped ib-table-striped" ng-if="bestallning.besokList.length > 0">
    <thead>
    <tr>
      <th ib-table-head label-key="label.table.bestallning.besok.column.besoktid"></th>
      <th ib-table-head label-key="label.table.bestallning.besok.column.profession"></th>
      <th ib-table-head label-key="label.table.bestallning.besok.column.namn"></th>
      <th ib-table-head label-key="label.table.bestallning.besok.column.tolk"></th>
      <th ib-table-head label-key="label.table.bestallning.besok.column.kallelse"></th>
      <th ib-table-head label-key="label.table.bestallning.besok.column.status"></th>
      <th ng-if="showErsatts()" ib-table-head label-key="label.table.bestallning.besok.column.ersatts"></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="row in bestallning.besokList">
      <td>{{::row.besokDatum}} {{::row.besokStartTid}} - {{::row.besokSlutTid}}</td>
      <td>{{::row.profession.label}}</td>
      <td>{{::row.namn}}</td>
      <td>{{::row.tolkStatus.label}}</td>
      <td>{{::row.kallelseDatum}} per {{::row.kallelseForm.label}}</td>
      <td>{{::row.besokStatus.label}}</td>
      <td ng-if="showErsatts()"><ib-yes-no value="::row.ersatts"></ib-yes-no></td>
      <td>
        <button type="button" class="btn btn-link btn-link__purelink" ng-click="row.showDetails=!row.showDetails"
                ng-switch="row.showDetails" ng-if="row.handelseList.length > 1">
          <span ng-switch-default>Visa detaljer <i class="material-icons">expand_more</i></span>
          <span ng-switch-when="true">Dölj detaljer <i class="material-icons">expand_less</i></span>
        </button>
      </td>
      <td>
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="hantera-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="hanteraBesokDisabled(row)">
            Hantera
            <i class="material-icons md-18">{{status.isopen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="hantera-button">
            <li role="menuitem" ng-if="!isAvvikelseMottagen(row.besokStatus)"><a ng-click="openAndraModal(row)">Ändra</a></li>
            <li role="menuitem" ng-if="isAvvikelseMottagen(row.besokStatus)"><a ng-click="openAvbokaModal(row.besokId)">Avboka</a></li>
            <li role="menuitem" ng-if="!isAvvikelseMottagen(row.besokStatus)"><a ng-click="openAvvikelseModal(row.besokId)">Avvikelse</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr ng-repeat-end ng-if="row.showDetails">
      <td colspan="8">
        <ib-besok-handelser handelser="row.handelseList"></ib-besok-handelser>
      </td>
    </tr>
    </tbody>
  </table>
</div>
