ib-besok {
  .ib-besoklist-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 140px;
      margin: 10px;
    }
  }

  .table-actionbar {
    flex: 0 0 44px;
    padding-bottom: 0;
  }
}
