<div class="ib-besok-wrapper">
    <div class="button-wrapper">
        <button class="btn 	btn-success" ng-click="oppnaLaggTillBesok()" ng-disabled="laggTillBesokDisabled()"><span>Lägg till besök</span></button>
        <button class="btn btn-primary" ng-click="redovisaTolk()"><span>Redovisa tolk</span></button>
    </div>

    <table id="samordnare-utredning-handelser-table" class="table table-striped ib-table-striped">
        <thead>
        <tr>
            <th ib-table-head label-key="label.table.bestallning.besok.column.besoktid"></th>
            <th ib-table-head label-key="label.table.bestallning.besok.column.profession"></th>
            <th ib-table-head label-key="label.table.bestallning.besok.column.namn"></th>
            <th ib-table-head label-key="label.table.bestallning.besok.column.tolk"></th>
            <th ib-table-head label-key="label.table.bestallning.besok.column.kallelse"></th>
            <th ib-table-head label-key="label.table.bestallning.besok.column.status"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in bestallning.besokList">
            <td>{{::row.besokDatum}} {{::row.besokStartTid}} - {{::row.besokSlutTid}}</td>
            <td>{{::row.profession.label}}</td>
            <td>{{::row.namn}}</td>
            <td>{{::row.tolkStatus.label}}</td>
            <td>{{::row.kallelseDatum}} per {{::row.kallelseForm.label}}</td>
            <td>{{::row.besokStatus.label}}</td>
        </tr>
        </tbody>
    </table>

</div>