#lagg-till-besok-modal {
  .modal-body {
    min-height: 300px;
  }
  ib-checkgroup .control-label {
    @extend %ib-typo-05;
    color: $ib-color-09;
  }

  .control-label {
    @extend %ib-typo-06;
    color: $ib-color-09;
  }

  .validation-error ib-checkbox-wrapper label:before {
    border: 1px solid $ib-color-11;
  }

  .validation-erorr-message {
    margin-top: 10px;
    color: $ib-color-11;
  }

  .big-flex-wrapper {
    display: flex;
    flex-direction: column;
  }

  .asterisk {
    display: inline-block;
    align-self: center;
    color: red;
    position: absolute;
    left: -9px;
    font-size: 20px;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;

    > span:first-child {
      width: 89px;
      position: relative;
      &.kallelse {
        width: 115px;
      }
    }

    > span {
      align-self: center;
    }

    ib-help-text-label {
      display: inline-block;
      align-self: center;
    }

    ib-time-picker {
        display: inline-block;
    }

    .date {
        ib-help-text-label {
            width: 89px;
        }
        flex: 1 0;
        display: inline-flex;
        position: relative;
    }

    .time {
        ib-help-text-label {
            margin-right: 10px;
        }
        flex: 0 0 150px;
        display: inline-flex;
        position: relative;
    }

    #interpreter-input-field {
      input.form-control {
        width: 225px;
      }
    }

    ib-date-picker-field {
      display: inline-flex;
      height: 38px;

      .input-group {
        width: 140px;
      }
    }

    ib-radio-wrapper {
      align-self: center;
      margin-left: 10px;
      padding-right: 10px;
    }

    ib-checkbox-wrapper > .ib-checkbox label {
        position: static;
    }
  }

  message key span:first-child {
    font-weight: 500;
  }
}
