<div id="lagg-till-besok-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="$dismiss()">×</button>
    <h4 class="modal-title">Lägg till besök</h4>
  </div>
  <div class="modal-body">



  </div>
  <div class="modal-footer">
    <button type="button" id="skicka-forfragan-modal-skicka" class="btn btn-primary">
     Spara
    </button>
    <button type="button" id="skicka-forfragan-modal-cancel" class="btn btn-default" ng-click="$dismiss()">
      <span message key="common.cancel"></span>
    </button>
  </div>
</div>