<div>
  <div class="modal-header">
    <button class="close" data-dismiss="modal" data-ng-click="$dismiss()"><i class="material-icons">close</i></button>
    <h4 class="modal-title">Utredningstyp ändrad</h4>
  </div>
  <div class="modal-body">
    Utredningstypen är ändrad till AFU utvidgad. Nytt slutdatum är {{datum}}

  </div>
  <div class="modal-footer">
    <button type="button" id="lagg-till-besok-modal-skicka" class="btn btn-primary" ng-click="$dismiss()">
      Stäng
    </button>
  </div>
</div>